.drawer {
    background-color: $bg-color;
    color: $white-color;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  @media (max-width: 767px) {
    .drawer{
       top: 10px;
       margin-left: 10px;
    }
}