<%- include('partials/header'); %>

<!-- Calculator Header-->
<header class ="jumbotron">
    <div class="container">
        <h1>Calcolatori</h1>
        <p>Troverai tutti gli attrezzi necessari per iniziare e manutenere la tua vasca</p>      
    </div>
</header>

<!--litres -->
<div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <div class="text-center">
                                    <h3>Calcolatore Litri</h3>
                                    <p class=”center”>Calcola il litraggio della vasca</p>
                                </div>    
                                <form id='litri' autocomplete="off" action="">
                                <!-- Lenght -->
                                    <div class="form-group">
                                        <label for="insertLenght">Inserisci Lunghezza</label>                                        
                                        <input type="text" class="form-control" id="insertLenght" placeholder="Lunghezza" required>
                                    </div>
                                <!-- Deep -->
                                    <div class="form-group">
                                        <label for="insertDeep">Inserisci Profondità</label>
                                        <input type="text" class="form-control" id="insertDeep" placeholder="Profondità" required>
                                    </div>
                                <!-- High -->
                                    <div class="form-group">
                                        <label for="insertHigh">Inserisci Altezza</label>
                                        <input type="text" class="form-control" id="insertHigh" placeholder="Altezza" required>
                                    </div>
                                <!-- Calculate -->                        
                                    <button type="submit" class="btn btn-dark" value="Calcola">Calcola</button>
                                <!-- Result -->
                                <hr>
                                <div id="resultLt" class="alert alert-dark"></div>    
                                </form>      
                            </div>    
                        </div>    
                    </div>    
                </div>    
            </div>     
        </div>
    </div>
</div>
<!--biological -->
<div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <div class="text-center">
                                    <h3>Calcolatore Biologico</h3>
                                    <p class=”center”>Calcola la quantità di materiale biologico per un ottimale filtraggio</p>
                                </div>    
                                <form id="bio" autocomplete="off" action="">
                                <!-- Lt -->
                                    <div class="form-group">
                                        <label for="insertLt">Inserisci Litraggio</label>                                        
                                        <input type="text" class="form-control" id="insertLt" placeholder="Litraggio">
                                    </div>
                                <!-- Calculate -->                        
                                    <button type="submit" class="btn btn-dark">Calcola</button>
                                <!-- Result -->
                                <hr>
                                <!-- lt*10gr di cannolicchi-->
                                <div id="resultBio" class="alert alert-dark"></div>    
                                </form>      
                            </div>    
                        </div>    
                    </div>    
                </div>    
            </div>     
        </div>
    </div>
</div>
<!--Pump -->
<div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <div class="text-center">
                                    <h3>Calcolatore Pompa</h3>
                                    <p class=”center”>Calcola la velocità della pompa per un ottimale filtraggio</p>
                                </div>    
                                <form id="pump" autocomplete="off" action="">
                                <!-- Lt -->
                                    <div class="form-group">
                                        <label for="insertLit">Inserisci Litraggio</label>                                        
                                        <input type="text" class="form-control" id="insertLit" placeholder="Litraggio">
                                    </div>
                                <!-- Calculate -->                        
                                    <button type="submit" class="btn btn-dark">Calcola</button>
                                <!-- Result -->
                                <hr>
                                <!-- lt*4lt/s -->
                                <div id="resultPump" class="alert alert-dark"></div>    
                                </form>      
                            </div>    
                        </div>    
                    </div>    
                </div>    
            </div>     
        </div>
    </div>
</div>
<!-- light led -->
<div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <div class="text-center">
                                    <h3>Lumen Lampada Led</h3>
                                    <p class=”center”>Calcola la quantità di lumen necessari per una crescita ottimale delle piante</p>
                                    <p> Valore Minimo sotto i 40 - Valore Medio compreso tra i 40 e 60 - Valore Alto superiore ai 60</p>
                                </div>    
                                <form id="lumen" autocomplete="off"  action="">
                                <!-- Lt -->
                                    <div class="form-group">
                                        <label for="insertLiter">Inserisci Litraggio</label>                                        
                                        <input type="text" class="form-control" id="insertLiter" placeholder="Litraggio">
                                    </div>
                                <!-- Lumen -->
                                    <div class="form-group">
                                        <label for="insertLumen">Inserisci Lumen della lampada</label>                                        
                                        <input type="text" class="form-control" id="insertLumen" placeholder="Lumen">
                                    </div>    
                                <!-- Calculate -->                        
                                    <button type="submit" class="btn btn-dark">Calcola</button>
                                <!-- Result -->
                                <hr>
                                <!-- somma = (lumen/litri); MINIMO= <40 - MEDIO= >40<60 - ALTO= >=60 -->
                                <div id="resultLumen" class="alert alert-dark"></div>    
                                </form>      
                            </div>    
                        </div>    
                    </div>    
                </div>    
            </div>     
        </div>
    </div>
</div>
<!-- Gravel -->
<div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <div class="text-center">
                                    <h3>Fondo</h3>
                                    <p class=”center”>Calcola la quantità di kg necessari per il Fondo</p>
                                </div>    
                                <form id="ground" autocomplete="off" action="">
                                <!-- Lt -->
                                    <div class="form-group">
                                        <label for="insertLenghtTank">Inserisci Lunghezza</label>                                        
                                        <input type="text" class="form-control" id="insertLenghtTank" placeholder="Lunghezza">
                                    </div>
                                <!-- Deep -->
                                    <div class="form-group">
                                        <label for="insertDeepTank">Inserisci Profondità</label>                                        
                                        <input type="text" class="form-control" id="insertDeepTank" placeholder="Profondità">
                                    </div>
                                 <!-- Fondo -->
                                    <div class="form-group">
                                        <label for="insertGround">Inserisci Altezza Fondo Desiderato</label>                                        
                                        <input type="text" class="form-control" id="insertGround" placeholder="Fondo Desiderato">
                                    </div>    
                                <!-- Calculate -->                        
                                    <button type="submit" class="btn btn-dark">Calcola</button>
                                <!-- Result -->
                                <hr>
                                <!-- somma = LUNGHEZZA (cm) X PROFONDITA' (cm) X ALTEZZA FONDO (cm) / 1000 = LITRI DI FONDO -->
                                <div id="resultGround" class="alert alert-dark"></div>    
                                </form>      
                            </div>    
                        </div>    
                    </div>    
                </div>    
            </div>     
        </div>
    </div>
</div>
<!--Water -->
<div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <div class="text-center">
                                    <h3>Calcolatore Acqua</h3>
                                    <p class=”center”>Calcola il rapporto di Osmosi/Rubinetto per avere i giusti valori per il tuo acquario</p>
                                </div>    
                                <form id="change" autocomplete="off" action="">
                                <!-- Lt Change -->
                                    <div class="form-group">
                                        <label for="insertChange">Inserisci Lt Cambio</label>                                        
                                        <input type="text" class="form-control" id="insertChange" placeholder="Lt Cambio Acqua">
                                    </div>
                                <!-- kH rete -->
                                    <div class="form-group">
                                        <label for="insertKh">Inserisci kH Rubinetto</label>
                                        <input type="text" class="form-control" id="insertKh" placeholder="kH Rubinetto">
                                    </div>
                                <!-- gH rete -->
                                    <div class="form-group">
                                        <label for="insertGh">Inserisci gH Rubinetto</label>
                                        <input type="text" class="form-control" id="insertGh" placeholder="gH Rubinetto">
                                    </div>
                                <!-- kH desired -->
                                    <div class="form-group">
                                        <label for="insertKhDesire">Inserisci kH che vuoi raggiungere</label>
                                        <input type="text" class="form-control" id="insertKhDesire" placeholder="kH Desiderato">
                                    </div>                                    
                                <!-- Calculate -->                        
                                    <button type="submit" class="btn btn-dark">Calcola</button>
                                <!-- Result  somma = ((litricambio / khrubinetto) * khdesiderato ); sommagh = (ghrubinetto / litricambio * (somma));-->
                                <hr>
                                <div id="resultChange" class="alert alert-dark"></div>    
                                </form>      
                            </div>    
                        </div>    
                    </div>    
                </div>    
            </div>     
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/calculator.js"></script>
<%- include('partials/footer'); %>