<%- include('../partials/header'); %>
  <!-- Main -->
  <div class="main">
    <!-- Article -->
    <div class="article">
        <!-- Article Title -->
        <div class="jumbotron jumbotron-fluid title">
            <div class="container">
              <h1 class="display-4">Ciclo dell'Azoto</h1>
              <p class="lead">Il concetto che sta alla base dell'equilibrio delle nostre vasche </p>
            </div>
        </div>
        <!-- end Article Title -->

        <!-- intro -->
        <p style="text-align: center; padding: 10px;"><b>Introduzione</b></p>
        <p>Quando sentiamo dire "vasca matura" si intende un processo nel quale i batteri del filtro
        e nel fondo sono abbastanza numerosi da trasformare tutto l'ammonio prodotto dai pesci prima
        in nitriti e poi in nitrati.
        </p>
        <!-- end intro --

        <!-- azoto -->
        <p style="text-align: center; padding: 10px;"><b>Azoto Organico </b></p>
        <p>L’azoto organico è quello che troviamo legato ad atomi di carbonio. Lo possiamo trovare sostanzialmente in tre posti:
        <br>-nei mangimi e in generale in tutti gli alimenti che somministriamo ai nostri pesci;<br>
        -nei materiali in decomposizione (dalle feci prodotti dai pesci, ai legni e foglie o pesci r invertebrati morti);<br>
        -nei fertilizzanti per piante d’acquario.<br>
        L’azoto organico viene subito attaccato da ceppi batterici eterotrofi (e altri organismi), che
        decompongono l’azoto organico in composti inorganici, ovvero privi del carbonio. Con questo processo
        – detto mineralizzazione – si ha usualmente la produzione di ammoniaca (NH3) e di anidride carbonica
        (CO2), come prodotti di scarto. Queste sostanze vengono elaborati da dei batteri, detti "batteri
        eterotrofi" che possono essere sia aerobici e sia anaerobici. Per quanto riguarda la sola urea,
        le piante possono riuscire ad assorbirne direttamente una parte, prima che inizi a venire decomposta.
        Una parte dell’azoto organico, invece, viene usata dai batteri stessi per le loro strutture
        e metabolismo interni.
        <blockquote style="text-align: center; background-color: darkgray;">
            <p> Azoto organico → Ammoniaca + CO2</p>
            <footer>Il passaggio del ciclo dell’azoto</footer>
        </blockquote>
        </p>
        <!-- end azoto -->

        <!-- ammonio e ammoniaca -->
        <p style="text-align: center; padding: 10px;"><b>Ammonio e Ammoniaca </b></p>
        <p>Dopo la decomposizione, l’azoto si lega con l’Idrogeno per l’intervento di altri batteri, 
        chiamati “azotofissatori”.<br>La tossicità dell’ammoniaca è dipendente principalmente dal pH
        dell’acqua, poiché il pH può trasformare l’ammoniaca nel comunque tossico, ma in misura inferiore,
        ammonio. L’ammonio e l’ammoniaca possono venire assorbiti facilmente da piante ed alghe, se presenti, 
        e da batteri nitrificanti. Infatti le piante e le alghe possono usare l’ammonio come fonte di azoto 
        a rapida assimilazione, pronto da usare subito. Non possono infatti accumulare l’ammonio per usarlo in
        un secondo tempo. Come spiegato da Diana Walstad e dagli studi da ella citati, l’ammonio è assorbito
        come forma di azoto preferenziale dalla maggior parte delle piante. L’ammonio e l’ammoniaca non 
        assorbiti da piante ed alghe vengono invece trasformati, da alcuni ceppi batterici aerobici autotrofi
        (Nitrosomonas e archeobatteri ossidatori dell’ammonio)</p>
        <!-- end ammonio e ammoniaca -->

        <!-- nitriti e nitrati -->
        <p style="text-align: center; padding: 10px;"><b>Nitriti e Nitrati </b></p>
        <p>I nitrati derivano dall’ossidazione dei nitriti e sono il risultato del secondo dei due passi di
        cui è composta la nitrificazione. Possono anche essere introdotti mediante vari fertilizzanti 
        comunemente usati, quali nitrati di potassio, calcio, magnesio e ammonio.<br>I nitrati di per sè a 
        basse concentrazioni non sono tossici per i pesci,ma ad alte concentrazioni possono iniziare a dare 
        disturbi nel comportamento (riproduttività, attività) e nella crescita, anche a livello di sviluppo 
        delle pinne e colorazione. D'altronde, per alcuni pesci, sono consigliabili livelli di nitrati il più 
        bassi possibili (se non misurabili, anche meglio), mentre altri pesci sono un po’ più tolleranti.
        <br>Come detto precedentemente, i nitrati vengono assorbiti dalle piante, insieme o in sostituzione 
        all’ammonio. Per le piante, infatti, è oneroso l’assorbimento dei nitrati poiché lo devono riconvertire
        in ammonio, per poterlo utilizzare direttamente. Tuttavia per le piante sono importanti anche i nitrati, 
        poiché possono accumularli nei tessuti per utilizzarli in un secondo momento (cosa che non possono 
        fare con l’ammonio). Oltre a venire assorbiti dalle piante, i nitrati possono venire convertiti in 
        azoto gassoso (N2) da parte di alcuni batteri anaerobici. Se invece volessimo ascoltare una tanta 
        parte di acquariofili, l’unico modo efficace di rimuovere i nitrati è quello di fare cambi d’acqua, 
        anche se non sempre risolvono</p>
        <!-- end nitriti e nitrati -->

        <!-- picco dei nitrati -->
        <p style="text-align: center; padding: 10px;"><b>Picco dei Nitriti</b></p>
        <p>E' un rapido aumento dei nitriti nell'acqua ad un livello molto alto. Successivamente, la concentrazione di nitriti diminuisce nuovamente.
        Il sintomo principale è l'acqua che assumen un colore lattiginoso, non serve fare niente. Si tratta di una moltitudine di batteri che non si 
        sono fissati ancora nei materiali del filtro, una volta che questi si saranno fissati l’acqua tornerà limpida. I nitriti sono tossici per i 
        pesci e possono persino essere letali se la quantità è molto alta. I parametri dell'acqua nell'acquario dovrebbero quindi essere controllati 
        regolarmente e modificati se necessario. Anche con una concentrazione di 0,5 mg/l di nitriti, devono essere presi dei provvedimenti, perché 
        già a 1,0 mg/l, i nitriti sono dannosi per gli abitanti dell'acquario. Alla fine della maturazione è bene fare un test dei nitriti per 
        assicurarsi che il valore sia a 0.</p>
        <!-- end picco dei nitrati -->

    </div>
    <!-- end Article -->
</div>
<!-- end Main -->

<!-- Footer -->
<%- include('../partials/footer'); %>         