<%- include('../partials/header'); %>

<!-- FX Container -->
<div id="fx-container" class="fx-opacity">
    <!-- Page content -->
    <div id="page-content" class="block">
        <!-- Article Header -->
        <div class="block-header">
            <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
            <a href="" class="header-title-link">
                <h1>
                    <i class="gi gi-pencil animation-expandUp"></i>Ciclo dell'Azoto<br><small>l'ecosistema che si genera a livello chimico</small>
                </h1>
            </a>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li><i class="fa fa-file-o"></i></li>
            <li>Articoli</li>
            <li><a href="">Ciclo dell'azoto</a></li>
        </ul>
        <!-- END Article Header -->
        <!-- Article Content -->
        <div class="row gutter30">
            <div class="col-sm-7">
                <!-- Article Block -->
                <div class="block">
                    <!-- Article Title -->
                    <div class="block-title">
                        <h2></h2>
                    </div>
                    <!-- END Article Title -->
                        <!-- Article Content -->
                        <h2>Introduzione</h2>
                        <p>Quando sentiamo dire di "vasca matura" si intende un processo nel quale i batteri del filtro e nel fondo sono abbastanza numerosi da trasformare tutto l'ammonio prodotto dai pesci prima in nitriti e poi in nitrati.<br>
                        <h2>Cos'è l'Azoto Organico</h2>
                        L’azoto organico è quello che troviamo legato ad atomi di carbonio. Lo possiamo trovare sostanzialmente in tre posti:
                        <br>-nei mangimi e in generale in tutti gli alimenti che somministriamo ai nostri pesci;<br>
                            -nei materiali in decomposizione (dalle feci prodotti dai pesci, ai legni e foglie o pesci r invertebrati morti);<br>
                            -nei fertilizzanti per piante d’acquario.<br>
                            L’azoto organico viene subito attaccato da ceppi batterici eterotrofi (e altri organismi), che decompongono l’azoto organico in composti inorganici, ovvero privi del carbonio. Con questo processo – detto mineralizzazione – si ha usualmente la produzione di ammoniaca (NH3) e di anidride carbonica (CO2), come prodotti di scarto.
                            Queste sostanze vengono elaborati da dei batteri, detti "batteri eterotrofi" che possono essere sia aerobici e sia anaerobici.                        
                            Per quanto riguarda la sola urea, le piante possono riuscire ad assorbirne direttamente una parte, prima che inizi a venire decomposta.
                            Una parte dell’azoto organico, invece, viene usata dai batteri stessi per le loro strutture e metabolismo interni.
                        </p> 
                        <blockquote>
                            <p> Azoto organico → Ammoniaca + CO2</p>
                            <footer>Il passaggio del ciclo dell’azoto</footer>
                        </blockquote>
                        <h2>Ammonio e Ammoniaca</h2>
                        <p>Dopo la decomposizione, l’azoto si lega con l’Idrogeno per l’intervento di altri batteri, chiamati “azotofissatori”.<br>La tossicità dell’ammoniaca è dipendente principalmente dal pH dell’acqua, poiché il pH può trasformare l’ammoniaca nel comunque tossico, ma in misura inferiore, ammonio. L’ammonio e l’ammoniaca possono venire assorbiti facilmente da piante ed alghe, se presenti, e da batteri nitrificanti.
                        Infatti le piante e le alghe possono usare l’ammonio come fonte di azoto a rapida assimilazione, pronto da usare subito. Non possono infatti accumulare l’ammonio per usarlo in un secondo tempo.
                        Come spiegato da Diana Walstad e dagli studi da ella citati, l’ammonio è assorbito come forma di azoto preferenziale dalla maggior parte delle piante. L’ammonio e l’ammoniaca non assorbiti da piante ed alghe vengono invece trasformati, da alcuni ceppi batterici aerobici autotrofi (Nitrosomonas e archeobatteri ossidatori dell’ammonio)</p>
                        <h2>Nitriti e Nitrati</h2>
                        <p>I nitrati derivano dall’ossidazione dei nitriti e sono il risultato del secondo dei due passi di cui è composta la nitrificazione.
                        Possono anche essere introdotti mediante vari fertilizzanti comunemente usati, quali nitrati di potassio, calcio, magnesio e ammonio.<br>I nitrati di per sè a basse concentrazioni non sono tossici per i pesci,ma ad alte concentrazioni possono iniziare a dare disturbi nel comportamento (riproduttività, attività) e nella crescita, anche a livello di sviluppo delle pinne e colorazione.
                        D'altronde, per alcuni pesci, sono consigliabili livelli di nitrati il più bassi possibili (se non misurabili, anche meglio), mentre altri pesci sono un po’ più tolleranti.<br>Come detto precedentemente, i nitrati vengono assorbiti dalle piante, insieme o in sostituzione all’ammonio. Per le piante, infatti, è oneroso l’assorbimento dei nitrati poiché lo devono riconvertire in ammonio, per poterlo utilizzare direttamente. Tuttavia per le piante sono importanti anche i nitrati, poiché possono accumularli nei tessuti per utilizzarli in un secondo momento (cosa che non possono fare con l’ammonio).
                        Oltre a venire assorbiti dalle piante, i nitrati possono venire convertiti in azoto gassoso (N2) da parte di alcuni batteri anaerobici.
                        Se invece volessimo ascoltare una tanta parte di acquariofili, l’unico modo efficace di rimuovere i nitrati è quello di fare cambi d’acqua, anche se non sempre risolvono</p>
                        <h2>Picco dei Nitriti</h2>
                        <p>Subito dopo l’allestimento iniziale, ci si sente sempre dire di aspettare un mese o più, prima di introdurre i pesci. Bisogna aspettare che passi il famigerato <b>“picco di nitriti“</b>. Ma perché avviene, e che cos’è?<br>In questo periodo, l’ammonio si trasformerà velocemente in nitriti, ma da questi non si otterranno nitrati con la stessa rapidità.
                        Ci sarà quindi un accumulo di nitriti, per un po’, che verrà smaltito dai batteri quando anch’essi saranno arrivati a livelli stabili.
                        Dato che i batteri si riproducono in base al cibo che trovano, è possibile avere nuove oscillazioni di nitriti, tutte le volte che il carico organico subisce un brusco aumento.
                        Esiste quindi un’altra regola basilare, forse più importante del mese di attesa: i pesci vanno inseriti con gradualità, mai tutti insieme.
                        E si comincia sempre dai più piccoli.</p>
                        
                    </div>
                    <!-- END Article Block -->
                </div>
                <div class="col-sm-5">
                    <!-- Related Block -->
                    <div class="block full">
                        <!-- Related Title -->
                        <div class="block-title">
                            <h2><i class="fa fa-file-text"></i> Articoli Correlati</h2>
                        </div>
                        <!-- END Related Title -->
                        <!-- Related Content -->
                        <h4 class="sub-header">Articoli</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/background">Creare uno Sfondo 3D</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/chemestry">Chimica dell'Acqua</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/history">Storia dell'Acquariofilia</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/choose">Primo Avvio vasca</a></li>
                        </ul>
                        <h4 class="sub-header">Varie</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/float">Separatore per Piante Galleggianti</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/naturewood">Trattare legni prelevati in natura</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/southamerica">Biotopo Sud America</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/donotbuy">Pesci da NON Comprare</a></li>
                        </ul>
                        <!-- END Related Content -->
                    </div>
                    <!-- END Related Block -->
                </div>
            </div>
            <!-- END Article Content -->
        </div>    
        <!-- END Page Content -->

<%- include('../partials/footer'); %>