<!-- Header -->
<%- include('../partials/header'); %>
  <!-- Main -->
<div class="main">
    <!-- Article -->
    <div class="article">
        <!-- Article Title -->
        <div class="jumbotron jumbotron-fluid title">
            <div class="container">
              <h1 class="display-4">Chimica dell'Acqua</h1>
              <p class="lead">Concetti base per comprendere la chimica in acquario</p>
            </div>
        </div>
        <!-- end Article Title -->

        <!-- intro -->
        <p style="text-align: center; padding: 10px;"><b>Introduzione</b></p>
        <p>Quando sentiamo in acquariologia parlare di Ph,Kh,Gh sono parole 
        che a noi sembrano strano e senza senso, ma conoscere questi principi è importante per 
        mantenere in maniera opportuna le nostre vasche e dare il miglior ambiente
        ai nostri ospiti.
        </p>
        <!-- end intro -->

        <!-- ph -->
        <p style="text-align: center; padding: 10px;"><b>pH</b></p>
        <p>Il Ph è la misura di un valore che indica la basicità o l'acidità dell'acqua.<br>nell'acqua
        sono presenti degli ioni di idrogeno identificati dal simbolo H+ e degli ioni ossidrili identificati
        dal simbolo OH-. Praticamente questi due componenti che si formano dalla rottura della molecola 
        dell'acqua H2O sono responsabili della acidità o basicità, in pratica se:
        <ul>
            <li> il numero di questi due componenti si equivale, avremo una soluzione neutra (pH=7)</li>
            <li>invece se prevalgono gli ioni di idrogeno H+(pH inferiore a 7), avremo una soluzione acida</li>
            <li>viceversa se c'è carenza di ioni di idrogeno (pH maggiore a 7), allora significa che avremo una alta 
            concentrazione di ioni di OH- che determina la basicità della soluzione.</li>
        </ul>
        Quindi più questo valore è basso, più sono presenti i H+; più questo valore è alto, minore è la concentrazione dei H+.
        Specifico che le parentesi quadre simboleggiano concentrazioni molari, attraverso espressioni del tipo:
        [H+] = 10-5 mol/L
        il che significa che in un litro di acqua vi è un centomillesimo di mole di ioni H+.
        <b>Importante</b> quando vediamo che la differenza di pH tra 7.1 e 8.1 è 1, la differenza non sarà 1 bensì il suo ^ 10 (= 10) poichè è una scala logaritmica.
        Queste variazioni vengono mal tollerate dai pesci e dalle piante, e un rapido cambiamento può causare la morte dell'ospite               
        </p>
        <!-- end ph-->

        <!-- kh -->
        <p style="text-align: center; padding: 10px;"><b>kH</b></p>
        <p>Con il termine kH viene indicata la durezza del carbonato, ovvero la misura dellaquantità di 
        Bicarbonati di Calcio e Magnesio. Questo elemento, viene anche definito come <b>Capacità Tampone dell’acqua</b> 
        ovvero ha la capacità di contenere gli sbalzi di pH qualora venisse introdotto una sostanza che porta la variazione del pH.
        </p>
        <!-- end kh -->

        <!-- gh -->
        <p style="text-align: center; padding: 10px;"><b>gH</b></p>
        <p>Con il gH si considera la durezza totale dell’acqua, costituita dalla concentrazione dei sali di Calcio e Magnesio.
        Con durezza totale si intende la misura di un gruppo di ioni disciolti che hanno una carica +2 sull'acqua.
        Quando sentiamo parlare di "acqua dolce" o "acqua dura", uno dei parametri da prendere (oltre al pH) è questo, 
        poichè l'acqua dolce con un gH basso (0-6 dH ) viene definita "dolce" mentre quando ha un elevato GH (da 12-30 + dH)
        viene definita dura. Di solito, l'elevato GH è associato ad un ph basico ed un basso GH è associato ad acqua acida. 
        La presenza di questi ioni nell'acqua è di grande importanza per i nostri pesci. Questo parametro è importante, 
        poichè il calcio è molto importante nella costruzione di ossa e simili e i pesci stessi possono assorbire il calcio 
        dall'acqua per integrare le loro esigenze dietetiche, e ioni come il sodio e il potassio sono elementi critici nei 
        tessuti dei pesci per una corretta funzione dei tessuti nervosi e muscolari.
        </p>
        <!-- gh -->
    </div>
    <!-- end Article -->
</div>
<!-- end Main -->

<!-- Footer -->
<%- include('../partials/footer'); %>     