<%- include('../partials/header'); %>

<!-- FX Container -->
 <div id="fx-container" class="fx-opacity">
    <!-- Page content -->
    <div id="page-content" class="block">
        <!-- Article Header -->
        <div class="block-header">
            <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
            <a href="" class="header-title-link">
                <h1>
                    <i class="gi gi-pencil animation-expandUp"></i>Pesci da non Comprare<br><small>Pesci di cui è sconsigliato l'acquisto</small>
                </h1>
            </a>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li><i class="fa fa-file-o"></i></li>
            <li>Articoli</li>
            <li><a href="">Pesci da non comprare</a></li>
        </ul>
        <!-- END Article Header -->
        <!-- Article Content -->
        <div class="row gutter30">
            <div class="col-sm-7">
                <!-- Article Block -->
                <div class="block">
                    <!-- Article Title -->
                    <div class="block-title">
                        <h2></h2>
                    </div>
                    <!-- END Article Title -->
                        <!-- Article Content -->
                        <p>Questa raccolta non è da considerarsi in senso stretto, ovvero, sono pesci che si consiglia di non comprare poichè sono pesci che per carattere e esigenze di spazio non sono alla portata di tutti gli acquariofili purtroppo, e quindi per evitare sofferenze e morte premature ai nostri ospiti, elencherò alcuni pesci che è meglio non comprare se non si è informati e non si rispettano i criteri per il loro mantenimento.</p>                     
                        <p> 
                            <ul>
                                <li>Apteronotus albifrons - Raggiunge dimensioni notevoli, ha bisogno di molto spazio per nuotare e preferisce ambienti con forte corrente; il minimo indispensabile per tenerlo è una vasca di almeno 3 metri di lunghezza.</li><br>
                                <li>Atractosteus spatula - Può raggiungere i 3 metri di lunghezza e vivere per ben 50 anni, almeno che non si abbia vasche davvero enormi non è consigliato</li><br>
                                <li>Balantiocheilos melanopterus - Venduto nei negozi come "squaletto d'acqua dolce", si sconsiglia perchè nel suo habitat è a rischio d'estinzione, e sopratutto perchè raggiunge i 30cm di lunghezza e ha bisogno di vivere in gruppo </li><br>
                                <li>Brachygobius doriae - O "Pesce Ape", è di acqua salmastra, non propriamente dolce e non è adatto a acquari di comunità</li><br>
                                <li>Carassius auratus - Il classico "Pesciolino Rosso", non adatto ai comuni acquari ma è per laghetti, poichè raggiungon i 50cm, hanno bisogno di vasche grosse, almeno 100 lt a singolo esemplare. </li><br>
                                <li>Chromobotia macracanthus - O "Pesce Pagliaccio", raggiunge dimensioni notevoli (40cm) ed è molto longevo</li><br>
                                <li>Ciclidi Africani -Questi Ciclidi provenienti dal Malawi e Tanganika, NON adatti ad acquari di comunità, molto aggressivi e territoriali, si consiglia di metterli in acquari biotopi con le loro esigenze (<a href="/africa">qui potrete leggere in merito</a>) e con cautele particolari (metterli tutti insieme in vasche mature e tutti insieme).</li><br>
                                <li>Clarias batrachus - conosciuto come il pesce gatto che cammina, ha un carattere predatorio ed aggressivo, unito alle notevoli dimensioni (superiori ai 60 cm), non lo rendono assolutamente adatto ai normali acquari di comunità</li><br>
                                <li>Crossocheilus - Venduti come mangia alghe, hanno un carattere turbolento e aggressivo, hanno bisogno di vivere in gruppo e raggiungono modeste dimensioni</li><br>
                                <li>Epalzeorhynchos bicolor - O "squaletto coda rossa"  hanno un temperamento aggressivo e territoriale</li><br>
                                <li>Gastromyzontidae - Venduti come "pulitori" o "mangia alghe", non sopravvivono agli acquari domestici, poichè hanno bisogno di una corrente d'acqua molto forte per poter respirare</li><br>
                                <li>Gyrinocheilus aymonieri - Venduti come "pulitori" o "mangia alghe", raggiungono modeste dimensioni (20/30 cm), hanno un temperamento aggressivo e in fase adulta tendono a cibarsi della mucosa di altri pesci, portandoli alla morta</li><br>
                                <li>Loricariidae - Venduti come "pulitori" o "mangia alghe", raggiungono modeste dimensioni (20/30cm)</li><br>
                                <li>Macrognathus - Predatore e pescivoro, va dai 15 ai 60 cm, può convivere solo con pesci abbastanza grandi da non riuscire a predare</li><br>
                                <li>Osteoglossum bicirrhosum - O Arowana, saggiunge tranquillamente 1 metro di lunghezza</li><br>
                                <li>Pangasianodon hypophthalmus - Venduto come "squaletto d'acqua dolce" è tra i pesci segnalati dalla Campagna Big Fish come non adatti al commercio acquariofilo, per le dimensioni che raggiungono da adulti (1.30m), e quelle di una vasca che li dovrebbe contenere.</li><br>
                                <li>Pangasius sanitwongsei - Venduto come "squaletto d'acqua dolce" raggiugne i 3 metri di lunghezza</li><br>
                                <li>Pantodon buchholzi - O "Pesce Farfalla"  raggiunge i 15cm ed è un predatore pescivoro</li><br>
                                <li>Piaractus brachypomus - O Piranha Vegetariano, è erbivoro ma raggiunge gli 80cm di lunghezza ed ha bisogno di vivere in gruppo</li><br>
                                <li>Pygocentrus nattereri - Il classico Piranha, raggiunge i 50cm e richiede spazi e cure che non tutti si possono permettere.</li><br>
                                <li>Red Parrot - O Ciclide Pappagallo è un ibrido creato in laboratorio appositamente per l'allevamento in acquario, ma che nonostante questo non è adatto alla vita nei comuni acquari domestici, per dimensioni e carattere.</li><br>
                                <li>Tetraodontidae - Venduto come "mangia lumache" non è adatto ai comuni acquari di comunità</li><br>
                            </ul>
                        </p>
                       
                        <!-- END Article Content -->
                    </div>
                    <!-- END Article Block -->
                </div>
                <div class="col-sm-5">
                    <!-- Related Block -->
                    <div class="block full">
                        <!-- Related Title -->
                        <div class="block-title">
                            <h2><i class="fa fa-file-text"></i> Articoli Correlati</h2>
                        </div>
                        <!-- END Related Title -->
                        <!-- Related Content -->
                        <h4 class="sub-header">Articoli</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/africa">Biotopo Africano</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/asia">Biotopo Sud Est Asiatico</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/pesci">Schede Pesci</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/southamerica">Biotopo Sud America</a></li>
                        </ul>
                        <h4 class="sub-header">In Tutorials</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/litraggio">Calcolo Litraggio Acquario</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/pompa">Calcolo Portata Pompa</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/naturewood">Trattare i Legni Prelevati in Natura</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/co2">Co2 Fai da Te</a></li>
                        </ul>
                        <!-- END Related Content -->
                    </div>
                    <!-- END Related Block -->
                </div>
            </div>
            <!-- END Article Content -->
        </div>    
        <!-- END Page Content -->

<%- include('../partials/footer'); %>