<!-- Header -->
<%- include('../partials/header'); %>
  <!-- Main -->
  <div class="main">
    <!-- Article -->
    <div class="article">
        <!-- Article Title -->
        <div class="jumbotron jumbotron-fluid title">
            <div class="container">
              <h1 class="display-4">Fondi Acquariofilia</h1>
              <p class="lead">I principali fondi per acquariofilia </p>
            </div>
        </div>
        <!-- end Article Title -->

         <!-- intro -->
         <p style="text-align: center; padding: 10px;"><b>Introduzione</b></p>
         <p>La composizione del fondo di un acquario è fondamentale per il benessere delle piante acquatiche il quale permetterà loro di crescere
        rigogliose e per dare un ambiente più confortevole e naturale ai nostri ospiti, in particolar modo ai pesci e invertebrati
        che vivono nella parte bassa dell'acquario. E' bene sapere che le piante non crescono ovunque in natura, ma solo dove l'infiltrazione dell'acqua scioglie le sostanze nutritive del fondo per permettere una riserva di nutrienti per le piante,
        quindi detto questo per una buona riuscita dell'acquario bisogna scegliere un substrato ricco di nutrienti
        si favorisce la crescita e una buona stabilizzazione dell'acquario stesso grazie allo sviluppo di determinati batteri che attraverso alcuni processi forniscono nutrienti disponibili per le piante acquatiche.
        Generalmente si consiglia di creare uno strato di fondo di circa 2 cm con un materiale ricco di nutriente e di varia
        granulometria (es. Tropica plant growth e ADA Powersand, o i più economici come il gravelit o lapillo vulcanico) per
        favorire un apporto radicale più solido e dare più nutrienti, e subito sopra uno strato più spesso di circa 5/7cm di
        materiale inerte come sabbia o quarzo. Ora andiamo ad analizzare più in dettaglio questi prodotti
        </p>
        <!-- end intro -->

        <!-- inerte -->
        <p style="text-align: center; padding: 10px;"><b>Inerte</b></p>
        <p>Il più comune e semplice da trovare nei negozi, di varie granulometrie, la sua caratteristica è quella di non rilasciare carbonati alla lunga in acqua. Si consiglia prevalentemente di acquistare sempre fondi con la scritta "Sabbia/Ghiaia Quarzifera"</p>
        <div class="text-center">
            <img src="img/article/inerte.jpg" class="rounded" alt="inerte" width="300" height="300">
        </div>
        <!-- end inerte-->

        <!-- Allofano -->
        <p style="text-align: center; padding: 10px;"><b>Allofano</b></p>
        <p>Fondo più richiesto dai professionisti e gli appasionati più incalliti di plantacquari. Quel che rende particolari questi terreni è la loro capacità di trattenere elettricamente gli ioni positivi dei sali disciolti nell'acqua e la loro capacità di drenaggio, cioè la capacità di filtraggio dell'acqua nel terreno, favorendo una buona circolazione dell'acqua e ossigenazione delle radici.Purtroppo tutto questo rende questo fondo particolarmente "ostico" da gestire per i neofiti, per due motivi:
            <ul>
                <li>L'alta disponibilità di nutrienti del fondo provocherebbe un esplosione algale</li>
                <li>Dato la capoacità di assorbire ioni, se non vengono monitorati i valori avremo continui sbalzi (Questo fondo nei primi 2/3 messi assorbe tutto il kH), cosa che se non gestita bene avremmo una conducibilità altissima che bloccherebbe di sicuro le piante, ma non gli organismi meno complessi, che sarebbero gli unici ad usufruire dei fertilizzanti.</li>
            </ul>
        <div class="text-center">
            <img src="img/article/allofano.jpg" class="rounded" alt="inerte" width="300" height="300">
        </div>
        <!-- end Allofano-->

        <!-- Gravelit -->
        <p style="text-align: center; padding: 10px;"><b>Gravelit</b></p>
        <p>E' composto da granuli porosi e chiari, favorisce molto l'apparato radicale delle piante e consente l'ossigenazione del substrato. Inoltre non è consigliato usarlo come unico substrato poichè per i primi periodi potrebbe rendere difficoltoso l'attecchimento delle piante che non hanno un buon apparato radicale sviluppato.</p>
        <div class="text-center">
            <img src="img/article/gravelit.jpg" class="rounded" alt="inerte" width="300" height="300">
        </div>
        <!-- end Gravelit-->

        <!-- Manado -->
        <p style="text-align: center; padding: 10px;"><b>Manado</b></p>
        <p>Il Manado, prodotto dall’azienda tedesca JBL, è sicuramente uno dei fondi per acquari più discusso insieme ai fondi allofani nel nostro hobby. E' composto da argilla cotta, secondo alcuni la stessa usata nei vivai per le piante, ma con densità e granulometria modificata per non permettere il galleggiamento. Erroneamente viene definito da molti come fondo allofano, poichè essendo argilla rilascia cationi di calcio se non adeguatamente sciaquato, e la falsa credenza che sia fertile, poichè sono presenti sostanze nutritive che prende dalla colonna d'acqua essendo un ottimo drenante.</p>
        <div class="text-center">
            <img src="img/article/manado.jpg" class="rounded" alt="inerte" width="300" height="300">
        </div>
        <!-- end Manado-->

        <!-- Lapillo Vulcanico -->
        <p style="text-align: center; padding: 10px;"><b>Lapillo Vulcanico</b></p>
        <p>Molto facile da reperire e molto economico (generalmente venduto a meno di 1 euro al kg), è un materiale inerte e molto poroso, motivo per cui viene usato nel nostro hobby. Infatti evita di creare zone anossiche nel terreno favorendo la circolazione dell'acqua ed evitando la compattazione della sabbia, e infine  viene usato anche nel filtro come filtro biologico.</p>
        <div class="text-center">
            <img src="img/article/lapillo.jpg" class="rounded" alt="inerte" width="300" height="300">
        </div>
        <!-- end Lapillo Vulcanico-->

    </div>
    <!-- end Article -->
</div>
<!-- end Main -->

<!-- Footer -->
<%- include('../partials/footer'); %>          

