<%- include('../partials/header'); %>  

<!-- FX Container -->
 <div id="fx-container" class="fx-opacity">
    <!-- Page content -->
    <div id="page-content" class="block">
        <!-- Article Header -->
        <div class="block-header">
            <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
            <a href="" class="header-title-link">
                <h1>
                    <i class="gi gi-pencil animation-expandUp"></i>Rocce<br><small>Le principali rocce che si trovano in commerico</small>
                </h1>
            </a>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li><i class="fa fa-file-o"></i></li>
            <li>Articoli</li>
            <li><a href="">Rocce</a></li>
        </ul>
        <!-- END Article Header -->
        <!-- Article Content -->
        <div class="row gutter30">
            <div class="col-sm-7">
                <!-- Article Block -->
                <div class="block">
                    <!-- Article Title -->
                    <div class="block-title">
                        <h2></h2>
                    </div>
                    <!-- END Article Title -->
                        <!-- Article Content -->
                        <!-- Intro -->
                        <h2>Introduzione</h2>
                        <p>La composizione del fondo di un acquario è fondamentale per il benessere delle piante acquatiche il quale permetterà loro di crescere
                            rigogliose e per dare un ambiente più confortevole e naturale ai nostri ospiti, in particolar modo ai pesci e invertebrati
                            che vivono nella parte bassa dell'acquario.

                            E' bene sapere che le piante non crescono ovunque in natura, ma solo dove l'infiltrazione dell'acqua scioglie le sostanze nutritive del fondo per permettere una riserva di nutrienti per le piante,
                            quindi detto questo per una buona riuscita dell'acquario bisogna scegliere un substrato ricco di nutrienti
                            si favorisce la crescita e una buona stabilizzazione dell'acquario stesso grazie allo sviluppo di determinati batteri che attraverso alcuni processi forniscono nutrienti disponibili per le piante acquatiche.
                            Generalmente si consiglia di creare uno strato di fondo di circa 2 cm con un materiale ricco di nutriente e di varia
                            granulometria (es. Tropica plant growth e ADA Powersand, o i più economici come il gravelit o lapillo vulcanico) per
                            favorire un apporto radicale più solido e dare più nutrienti, e subito sopra uno strato più spesso di circa 5/7cm di
                            materiale inerte come sabbia o quarzo.
                            Ora andiamo ad analizzare più in dettaglio questi prodotti
                        </p>
                        <!-- Inerte -->
                        <h2>Fondo Inerte</h2>
                        <p>Il più comune e semplice da trovare nei negozi, di varie granulometrie, la sua caratteristica è quella di non rilasciare carbonati alla lunga in acqua. Si consiglia prevalentemente di acquistare sempre fondi con la scritta "Sabbia/Ghiaia Quarzifera"</p>
                        <div class="row">
                            <div class="col-xs-6">
                                <p>
                                    <a href="img/article/inerte.jpg" data-toggle="lightbox-image">
                                        <img src="img/article/inerte.jpg" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- Allofano -->
                        <h2>Fondo Allofano</h2>
                        <p>Fondo più richiesto dai professionisti e gli appasionati più incalliti di plantacquari. Quel che rende particolari questi terreni è la loro capacità di trattenere elettricamente gli ioni positivi dei sali disciolti nell'acqua e la loro capacità di drenaggio, cioè la capacità di filtraggio dell'acqua nel terreno, favorendo una buona circolazione dell'acqua e ossigenazione delle radici.Purtroppo tutto questo rende questo fondo particolarmente "ostico" da gestire per i neofiti, per due motivi:
                        <ul>
                            <li>L'alta disponibilità di nutrienti del fondo provocherebbe un esplosione algale</li>
                            <li>Dato la capoacità di assorbire ioni, se non vengono monitorati i valori avremo continui sbalzi (Questo fondo nei primi 2/3 messi assorbe tutto il kH), cosa che se non gestita bene avremmo una conducibilità altissima che bloccherebbe di sicuro le piante, ma non gli organismi meno complessi, che sarebbero gli unici ad usufruire dei fertilizzanti.</li>
                        </ul></p>
                        <div class="row">
                            <div class="col-xs-6">
                                <p>
                                    <a href="img/article/allofano.jpg" data-toggle="lightbox-image">
                                        <img src="img/article/allofano.jpg" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- Gravelit -->
                        <h2>Gravelit</h2>
                        <p>E' composto da granuli porosi e chiari, favorisce molto l'apparato radicale delle piante e consente l'ossigenazione del substrato. Inoltre non è consigliato usarlo come unico substrato poichè per i primi periodi potrebbe rendere difficoltoso l'attecchimento delle piante che non hanno un buon apparato radicale sviluppato.</p>
                        <div class="row">
                            <div class="col-xs-6">
                                <p>
                                    <a href="img/article/gravelit.jpg" data-toggle="lightbox-image">
                                        <img src="img/article/gravelit.jpg" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- Manado -->
                        <h2>Manado</h2>
                        <p>Il Manado, prodotto dall’azienda tedesca JBL, è sicuramente uno dei fondi per acquari più discusso insieme ai fondi allofani nel nostro hobby. E' composto da argilla cotta, secondo alcuni la stessa usata nei vivai per le piante, ma con densità e granulometria modificata per non permettere il galleggiamento. Erroneamente viene definito da molti come fondo allofano, poichè essendo argilla rilascia cationi di calcio se non adeguatamente sciaquato, e la falsa credenza che sia fertile, poichè sono presenti sostanze nutritive che prende dalla colonna d'acqua essendo un ottimo drenante.</p>
                        <div class="row">
                            <div class="col-xs-6">
                                <p>
                                    <a href="img/article/manado.jpg" data-toggle="lightbox-image">
                                        <img src="img/article/manado.jpg" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- Lapillo -->
                        <h2>Lapillo</h2>
                        <p>Molto facile da reperire e molto economico (generalmente venduto a meno di 1 euro al kg), è un materiale inerte e molto poroso, motivo per cui viene usato nel nostro hobby. Infatti evita di creare zone anossiche nel terreno favorendo la circolazione dell'acqua ed evitando la compattazione della sabbia, e infine  viene usato anche nel filtro come filtro biologico.</p>
                        <div class="row">
                            <div class="col-xs-6">
                                <p>
                                    <a href="img/article/lapillo.jpg" data-toggle="lightbox-image">
                                        <img src="img/article/lapillo.jpg" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- END Article Block -->
                </div>
                <div class="col-sm-5">
                    
                    <!-- END Author Block -->
                    <!-- Related Block -->
                    <div class="block full">
                        <!-- Related Title -->
                        <div class="block-title">
                            <h2><i class="fa fa-file-text"></i> Articoli Correlati</h2>
                        </div>
                        <!-- END Related Title -->
                        <!-- Related Content -->
                        <h4 class="sub-header">Articoli</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/choose">Primo Avvio Vasca</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/pmdd">Choosing the best IDE</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/soutamerica">Biotopo Sud America</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/donotbuy">Pesci da NON comprare</a></li>
                        </ul>
                        <h4 class="sub-header">Varie</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/azoto">Ciclo dell'Azoto</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/cambio">Calcolatore Cambio Acqua</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/termostato">Calcolatore Termostato Acquario</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/lumen">Calcolatore Lumen Lampada Led</a></li>
                        </ul>
                        <!-- END Related Content -->
                    </div>
                    <!-- END Related Block -->
                </div>
            </div>
            <!-- END Article Content -->
        </div>    
        <!-- END Page Content -->

<%- include('../partials/footer'); %>