<!-- Header -->
<%- include('../partials/header'); %>
  <!-- Main -->
  <div class="main">
    <!-- Article -->
    <div class="article">
        <!-- Article Title -->
        <div class="jumbotron jumbotron-fluid title">
            <div class="container">
              <h1 class="display-4">Storia dell'Acquariofilia</h1>
              <p class="lead">L'allevamento di pesci in ambienti ristretti o artificiali è una pratica che affonda le proprie radici nella storia. </p>
            </div>
        </div>
        <!-- end Article Title -->
        <p style="text-align: center; padding: 10px;"><b>Introduzione</b></p>
        <p>Per migliaia di anni i pesci sono stati allevati in vasche e stagni come fonte di cibo. Nell'Europa medievale le vasche per le carpe erano una presenza quasi fissa nelle tenute di campagna e nei monasteri, in quanto fornivano 
        un'alternativa alla carne per i giorni festivi quando quest'ultima non poteva essere consumata per motivi religiosi. Allo stesso modo in tutta l'Asia era diffusa l'abitudine di popolare le risaie con pesci d'acqua dolce 
        commestibili come pesci gatto e Ciprinidi vari.È tra il X e il XII secolo che in Cina, durante la dinastia Sung, iniziò per la prima volta nella storia l’allevamento di pesci per scopi ornamentali. I cinesi iniziarono 
        ad allevare antenati dei pesci rossi nelle case all’interno di grandi recipienti di ceramica. Nacquero laghetti nei giardini dove allevare pesci selezionati per la loro bellezza. Animali resistenti e abituati a vivere
        in acque stagnanti che dunque ben si adattarono alla vita in cattività. Iniziarono così anche gli allevamenti di pesci nelle risaie e vennero introdotti pesci gatto e Ciprinidi vari. Nel vicino Giappone ebbe atto un
        allevamento selettivo per dare origine alle più belle varietà artificiali di Carpe Koi e Carassi.</p>
        <div class="text-center">
          <img src="img/article/jap.jpg" class="rounded" alt="inerte" width="300" height="300">
      </div>
        <p style="text-align: center; padding: 10px;"><b>Le 4 ere dell'Acquariofilia</b></p>
        <p style="text-align: center; padding: 10px;"><b>1° Era</b></p>
        <p>La prima fase consiste nell’allevamento a scopo ornamentale dei pesci che sono mantenuti in raccolte d’acqua situate in interno o all’esterno.
        Si può quindi partire dagli antichi Egizi che assegnavano ai pesci un significato religioso.Gli antichi Romani allevavano murene e sono numerosi
        gli aneddoti riguardanti nobili che mantengono murene in piscine e che sono trattate come amanti capricciose. Alcuni testi riportano di murene 
        che ricevevano regali preziosi e che alla morte venivano celebrate con intense cerimonie religiose. Per finire la sintetica trattazione di questa
        fase accenno brevemente agli stagni di pesci rossi allestiti dai Cinesi oltre duemila anni come ornamento dei palazzi dei potenti.
        </p>
        <p style="text-align: center; padding: 10px;"><b>2° Era</b></p>
        <p>Con Jeanne Rondelet,la prima persona che ha provato ad allevare un animale in un contenitore trasparente,
        riuscì ad allevare un pesce in un contenitore di vetro per tre anni. In Gran Bretagna nella seconda meta del
        ‘700 divenne un usanza di moda, dove numerosi celebri personaggi gareggiano nel mantenimento di creature acquatiche.
        Una delle personalità più illustri è il letterato Horace Walpole, mentre agli inizi dell’800 si ha notizia di un 
        altro personaggio, Sir John Graham Dalyell, che alleva per diversi anni animali marini in contenitori cilindrici di vetro.
        La sua tecnica era di provvedere ogni giorno a cambiare l’acqua di ogni singolo vaso il quale conteneva un solo animale. 
        Un anemone da lui allevata  riuscì a sopravvivere al barone stesso e a diversi suoi eredi
        </p>
        <div class="text-center">
          <img src="img/article/first.png" class="rounded" alt="inerte" width="300" height="300">
        </div>
        <p style="text-align: center; padding: 10px;"><b>3° Era</b></p>
        <p>Il periodo del "boom" dell'acquariofilia tra i nobili, molto in voga poichè l‘acquario inizia ad essere considerato una rappresentazione
        in miniatura di un piccolo un ambiente acquatico naturale (da qui nasce il Biotopo). Inoltre spuntano i primi negozi specializzati
        che riforniscono sia materiale tecnico che animali. Il padre dell'acquariofilia come la intendiamo noi oggi, 
        è <b>Nathaniel Bagshaw Ward</b> il cui merito è stato quello di creare un sistema chiuso autosufficiente adatto alla crescita 
        di piante senza che fosse necessario alcun intervento umano. 
        </p>
        <div class="text-center">
          <img src="img/article/ward.jpg" class="rounded" alt="inerte" width="300" height="400">
        </div>
        <p style="text-align: center; padding: 10px;"><b>4° Era</b></p>
        <p>L'era più moderna, è iniziata nel 1675 con le prime applicazioni di biologia e scienza all'acquario.
        Con la prima lampadina a incandescenza abbiamo la prima illuminazione artificiale nel 1854, ma divenne 
        popolare solo nel 1905 con la prima diffusione dell'elettricità nelle case comuni. 
        Nascono riscaldatori elettrici a provetta, aereatori, pompe di movimento. 
        Nel 1908 in Germania nasce la prima pompa alimentata ad acqua che sarà in seguito sostituita da una pompa a membrana ad aria. 
        Nel 1914 arrivano sul mercato i sistemi di aereazione. La ricchezza di idee per immettere nell'acqua dell'acquario aria 
        ed ossigeno per i pesci dove le pietre porose riescono a procurare un modesto flusso dell'acqua.
        </p>
        

    </div>
    <!-- end Article -->
</div>
<!-- end Main -->

<!-- Footer -->
<%- include('../partials/footer'); %>  