<%- include('../partials/header'); %>

<!-- FX Container -->
<div id="fx-container" class="fx-opacity">
    <!-- Page content -->
    <div id="page-content" class="block">
        <!-- Article Header -->
        <div class="block-header">
            <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
            <a href="" class="header-title-link">
                <h1>
                    <i class="gi gi-pencil animation-expandUp"></i>Storia dell'Acquariofilia<br><small>Dalle origini ai giorni nostri</small>
                </h1>
            </a>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li><i class="fa fa-file-o"></i></li>
            <li>Articoli</li>
            <li><a href="">Storia dell'acquariofilia</a></li>
        </ul>
        <!-- END Article Header -->
        <!-- Article Content -->
        <div class="row gutter30">
            <div class="col-sm-7">
                <!-- Article Block -->
                <div class="block">
                    <!-- Article Title -->
                    <div class="block-title">
                        <h2></h2>
                    </div>
                    <!-- END Article Title -->
                        <!-- Article Content -->
                        <!-- Intro -->
                        <h2>Introduzione</h2>
                        <p>L'allevamento di pesci in ambienti ristretti o artificiali è una pratica che affonda le proprie radici nella storia. Per migliaia di anni i pesci sono stati allevati in vasche e stagni come fonte di cibo. Nell'Europa medievale le vasche per le carpe erano una presenza quasi fissa nelle tenute di campagna e nei monasteri, in quanto fornivano un'alternativa alla carne per i giorni festivi quando quest'ultima non poteva essere consumata per motivi religiosi. Allo stesso modo in tutta l'Asia era diffusa l'abitudine di popolare le risaie con pesci d'acqua dolce commestibili come pesci gatto e Ciprinidi vari. .</p>
                        <p>È tra il X e il XII secolo che in Cina, durante la dinastia Sung, iniziò per la prima volta nella storia l’allevamento di pesci per scopi ornamentali. I cinesi iniziarono ad allevare antenati dei pesci rossi nelle case all’interno di grandi recipienti di ceramica. Nacquero laghetti nei giardini dove allevare pesci selezionati per la loro bellezza. Animali resistenti e abituati a vivere in acque stagnanti che dunque ben si adattarono alla vita in cattività. Iniziarono così anche gli allevamenti di pesci nelle risaie e vennero introdotti pesci gatto e Ciprinidi vari. Nel vicino Giappone ebbe atto un allevamento selettivo per dare origine alle più belle varietà artificiali di Carpe Koi e Carassi. </p>
                        <div class="row">
                            <div class="col-xs-6">
                                <p>
                                    <a href="img/placeholders/image_720x450_light.png" data-toggle="lightbox-image">
                                        <img src="img/article/jap.jpg" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p>
                                    <a href="img/placeholders/image_720x450_light.png" data-toggle="lightbox-image">
                                        <img src="img/article/japan.jpg" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                        </div>
                        <h2>Le 4 Fasi dell'Acquariofilia</h2>
                        <p><h3>1° Fase</h3>La prima fase consiste nell’allevamento a scopo ornamentale dei pesci che sono mantenuti in raccolte d’acqua situate in interno o all’esterno. Si può quindi partire dagli antichi Egizi che assegnavano ai pesci un significato religioso.Gli antichi Romani allevavano murene e sono numerosi gli aneddoti riguardanti nobili che mantengono murene in piscine e che sono trattate come amanti capricciose. Alcuni testi riportano di murene che ricevevano regali preziosi e che alla morte venivano celebrate con intense cerimonie religiose. Per finire la sintetica trattazione di questa fase accenno brevemente agli stagni di pesci rossi allestiti dai Cinesi oltre duemila anni come ornamento dei palazzi dei potenti. <h3>2° Fase</h3> Con Jeanne Rondelet,la prima persona che ha provato ad allevare un animale in un contenitore trasparente, riuscì ad allevare un pesce in un contenitore di vetro per tre anni. In Gran Bretagna nella seconda meta del ‘700 divenne un usanza di moda, dove numerosi celebri personaggi gareggiano nel mantenimento di creature acquatiche. Una delle personalità più illustri è il letterato Horace Walpole, mentre agli inizi dell’800 si ha notizia di un altro personaggio, Sir John Graham Dalyell, che alleva per diversi anni animali marini in contenitori cilindrici di vetro. La sua tecnica era di provvedere ogni giorno a cambiare l’acqua di ogni singolo vaso il quale conteneva un solo animale. Un anemone da lui allevata  riuscì a sopravvivere al barone stesso (si stima che visse per circa 60 anni), e a diversi suoi eredi, la quale anemone divenne un cimelio di famiglia, passato da padre in figlio.). <h3>3° Stadio</h3>  Chiamata anche “follia vittoriana”  poichè l‘acquario inizia ad essere considerato una rappresentazione in miniatura di un piccolo un ambiente acquatico naturale (Biotopo). In questo periodo inoltre, spuntano i primi negozi specializzati che riforniscono sia materiale tecnico (libri, appunti, attrezzatura) che gli stessi pesci. Il padre dell'acquariofilia come la intendiamo noi oggi, è <b>Nathaniel Bagshaw Ward</b> il cui merito è stato quello di creare un sistema chiuso autosufficiente adatto alla crescita di piante senza che fosse necessario alcun intervento umano. <h3>4° Fase</h3> Ultima fase, quella più moderna, iniziata nel 1675 con le prime applicazioni di biologia e scienza all'acquario. Nacque la prima illuminazione artificiale nel 1854 con la prima lampadina a incandescenza, ma divenne popolare anni dopo, nel 1905 con la prima diffusione dell'elettricità nelle case comuni. Nascono riscaldatori elettrici a provetta, aereatori, pompe di movimento. Nel 1908 in Germania nasce la prima pompa alimentata ad acqua che sarà in seguito sostituita da una pompa a membrana ad aria.  Nel 1914 arrivano sul mercato i sistemi di aereazione. La ricchezza di idee per immettere nell'acqua dell'acquario aria ed ossigeno per i pesci dive le pietre porose riescono a procurare un modesto flusso dell'acqua. Inoltre nel 1930 nasce l'Acquario Olandese</p>
                        <div class="row">
                            <div class="col-xs-4">
                                <p>
                                    <a href="img/placeholders/image_720x450_light.png" data-toggle="lightbox-image">
                                        <img src="img/article/first.png" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                            <div class="col-xs-4">
                                <p>
                                </p>
                            </div>
                            <div class="col-xs-4">
                                <p>
                                    <a href="img/placeholders/image_720x450_light.png" data-toggle="lightbox-image">
                                        <img src="img/article/Ward.jpg" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- END Article Block -->
                </div>
                <div class="col-sm-5">
                    <!-- Related Block -->
                    <div class="block full">
                        <!-- Related Title -->
                        <div class="block-title">
                            <h2><i class="fa fa-file-text"></i> Articoli Correlati</h2>
                        </div>
                        <!-- END Related Title -->
                        <!-- Related Content -->
                        <h4 class="sub-header">Articoli</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/choose">Primo Avvio Acquario</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/fish">Schede Pesci</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/plant">Schede Piante</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/asia">Biotopo Sud Est Asiatico</a></li>
                        </ul>
                        <h4 class="sub-header">Varie</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/pmdd">Fertilizzazione Metodo Pmmdd</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/wood">Legni Acquariofilia</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/rock">Rocce Acquariofilia</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/litraggio">Calcolatore Litri Acquario</a></li>
                        </ul>
                        <!-- END Related Content -->
                    </div>
                    <!-- END Related Block -->
                </div>
            </div>
            <!-- END Article Content -->
        </div>    
        <!-- END Page Content -->

<%- include('../partials/footer'); %>