<!-- Header -->
<%- include('../partials/header'); %>
<!-- Main -->
<div class="main">
  <!-- Article -->
  <div class="article">
      <!-- Article Title -->
      <div class="jumbotron jumbotron-fluid title">
          <div class="container">
            <h1 class="display-4">Avviare una Vasca</h1>
            <p class="lead">Il miglior modo per avviare l'acquario, trucchi e tecniche per un corretto avvio </p>
          </div>
      </div>
      <!-- end Article Title -->

      <!-- intro -->
      <p style="text-align: center; padding: 10px;"><b>Introduzione</b></p>
      <p>La maturazione è quel periodo, caratterizzato da una serie di fenomeni biologici e chimici che consente alla nostra vasca di poter ospitare dei pesci.
      Se non lo avete fatto, prima di procedere con questa lettura vi rimando a questa lettura sul <a href="/azoto">ciclo azoto</a>.
      <br>Per cominciare è bene sapere che la maturazione non ha un periodo preciso, generalmente un tempo medio è di 30 giorni 
      (anche se un 40/60 giorni sarebbero l'ideale). Ci accorgiamo che questo periodo sta giungendo quando vedremo il il famigerato picco di nitriti. 
      </p>
      <!-- end intro -->

      <!-- picco -->
      <p style="text-align: center; padding: 10px;"><b>Picco dei Nitriti</b></p>
      <p>E' un rapido aumento dei nitriti nell'acqua ad un livello molto alto. Successivamente, la concentrazione di nitriti diminuisce nuovamente.
      Il sintomo principale è l'acqua che assumen un colore lattiginoso, non serve fare niente. Si tratta di una moltitudine di batteri che non si 
      sono fissati ancora nei materiali del filtro, una volta che questi si saranno fissati l’acqua tornerà limpida. I nitriti sono tossici per i 
      pesci e possono persino essere letali se la quantità è molto alta. I parametri dell'acqua nell'acquario dovrebbero quindi essere controllati 
      regolarmente e modificati se necessario. Anche con una concentrazione di 0,5 mg/l di nitriti, devono essere presi dei provvedimenti, perché 
      già a 1,0 mg/l, i nitriti sono dannosi per gli abitanti dell'acquario. Alla fine della maturazione è bene fare un test dei nitriti per 
      assicurarsi che il valore sia a 0.</p>
      <!-- end picco -->

      <!-- acqua -->
      <p style="text-align: center; padding: 10px;"><b>Che acqua usare per l'avvio</b></p>
      <p>Ci sono tre metodi di scelta a riguardo, da valutare in caso al tipo di fauna o biotopo che si vuole ricreare:
          <ul>
              <li>Riempire la vasca con la quota di osmosi e la quota di rete che andrà bene alla popolazione che ospiteremo a fine del mese (Cosa che potrete visualizzare tramite il <a href="cambio">Tool</a> a disposizione).</li>
              <li>riempire la vasca con solo acqua di rete. A fine del mese poi si effettueranno dei cambi con acqua di osmosi pura per abbassare le durezze. Stabilizzato il tutto, in genere ci vogliono un paio di settimane, si possono inserire i pesci.</li>
              <li>Usare solo acqua di osmosi, andandola a ricostruire con sali appositi per portare i valori di kH e gH desiderati, evitando di immettere inquinanti e metalli pesanti dall'acqua di rete</li>
          </ul>    
      </p>
      <!-- end acqua-->

      <!-- illuminazione -->
      <p style="text-align: center; padding: 10px;"><b>Illuminazione</b></p>
      <p>Le luci vanno accese dopo l’inserimento di eventuali piante, cominciando con 5 ore di luce e crescendo con mezz’ora di luce a settimana, fino ad arrivare a minimo 8 ore. Molto utile è l’utilizzo di una presa temporizzata,
      si trovano nei negozi di materiale elettrico e hanno un costo contenuto.
      </p>
      <!-- end illuminazione -->

      <!-- fertilizzazione -->
      <p style="text-align: center; padding: 10px;"><b>Fertilizzazione & CO2</b></p>
      <p>Con la Co2 ci sono diverse variabili, cioè dipende dal valore dell'acqua. Se le durezze, in particolare il kh,
      sono già quelle definitive, è utile cominciare a tarare l’impianto durante l’ultima settimana di maturazione,
      per evitare brutte sorprese con i pesci dentro.<br> Mentre per la fertilizzazione è consigliabile
      iniziare dopo 3/4 settimane dall'inserimento delle piante, dandole il tempo di adattarsi e bisogna iniziare
      con dosi minime, aumentando gradualmente.
      </p>
      <!-- end fertilizzazione -->

      <!-- non fare -->
      <p style="text-align: center; padding: 10px;"><b>Cose da NON Fare</b></p>
      <p>Qui elencherò le principali cose da non fare in caso di maturazione, poichè rallenterebbero o daranno un 
      illusione di maturazione avvenuta.
      <ul>
          <li>Utilizzare Carboni attivi, anti nitriti/nitrati</li>
          <li>Toccare il filtro, svuotarlo o cambiare il materiale filtrante durante la maturazione</li>
          <li>Cambi d'acqua</li>
      </ul>
      </p>
      <!-- end non fare-->
  </div>
  <!-- end Article -->
</div>
<!-- end Main -->

<!-- Footer -->
<%- include('../partials/footer'); %>    