<!-- Header -->
<%- include('../partials/header'); %>
  <!-- Main -->
  <div class="main">
    <!-- Article -->
    <div class="article">
        <!-- Article Title -->
        <div class="jumbotron jumbotron-fluid title">
            <div class="container">
              <h1 class="display-4">Fondi Acquariofilia</h1>
              <p class="lead">I principali fondi per acquariofilia </p>
            </div>
        </div>
        <!-- end Article Title -->

         <!-- intro -->
         <p style="text-align: center; padding: 10px;"><b>Introduzione</b></p>
         <p>In aquariofilia le radici, intese come elemento decorativo di una vasca, sono state sempre utilizzate e sono l'elemento più comune e centrale di una vasca. Esistono vari tipi e prima di inserirli, è necessario seguire queste procedure:
            <ul>
                <li>Bollire i legni,sia per sterilizzarli(anche se lo sono già) che per far si che rilascino gran parte del loro colore, che altrimenti finirebbe per colorare l’acqua della vasca ed eliminari eventuali spore e batteri.</li>
                <li>Fare impregnare il legno d’acqua, altrimenti appena inserirete l’acqua nella vasca, quest’ultimo galleggerà inesorabilmente, lasciarlo in ammollo il tempo necessario con un peso sopra</li>
            </ul>
        </p>
        <!-- end intro -->

        <!-- Mangrovia -->
        <p style="text-align: center; padding: 10px;"><b>Mangrovia</b></p>
        <p>È un legno dalla colorazione rossastra, che crea piacevoli contrasti se si intende disporre una buona quantità di piante attorno al legno. Presenta molte fessure ed incavi, ottime per i locaridi da usare come tane e per piante epifite.</p>
        <div class="text-center">
            <img src="img/article/mangrovia.jpg" class="rounded" alt="inerte" width="300" height="300">
        </div>
        <!-- end Mangrovia-->

         <!-- Mopani -->
         <p style="text-align: center; padding: 10px;"><b>Mopani</b></p>
         <p>Legno molto pesante che presenta due tipi di colorazioni: una più chiara ed una più scura. È un legno che colora molto l’acqua per la sua elevate concentrazione di tannini,quindi se non amate l’acqua ambrata è un legno che sconsiglio di usare.</p>
         <div class="text-center">
             <img src="img/article/mopani.jpg" class="rounded" alt="inerte" width="300" height="300">
         </div>
         <!-- end Mopani-->

          <!-- Spider Wood -->
          <p style="text-align: center; padding: 10px;"><b>Spider Wood</b></p>
          <p>Si presenta molto ramificato, e viene utilizzato sia come legno sommerso che semi-emerso, specie nella riproduzione degli ambienti amazzonici. Non sono rari gli acquariofili che lo fissano a metà o al bordo della vasca(solitamente con colle atossiche o ventose,quest’ultime più pratiche),lasciando che i rami riempiano la parte centrale della vasca. È un legno che richiede molto tempo prima che non galleggi.</p>
          <div class="text-center">
              <img src="img/article/spider.jpg" class="rounded" alt="inerte" width="300" height="300">
          </div>
          <!-- end Spider Wood-->
         
    </div>
    <!-- end Article -->
</div>
<!-- end Main -->

<!-- Footer -->
<%- include('../partials/footer'); %> 