<%- include('../partials/header'); %>

<!-- FX Container -->
 <div id="fx-container" class="fx-opacity">
    <!-- Page content -->
    <div id="page-content" class="block">
        <!-- Article Header -->
        <div class="block-header">
            <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
            <a href="" class="header-title-link">
                <h1>
                    <i class="gi gi-pencil animation-expandUp"></i>Legni<br><small>I principali legni che si trovano in commercio</small>
                </h1>
            </a>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li><i class="fa fa-file-o"></i></li>
            <li>Articoli</li>
            <li><a href="">Legni</a></li>
        </ul>
        <!-- END Article Header -->
        <!-- Article Content -->
        <div class="row gutter30">
            <div class="col-sm-7">
                <!-- Article Block -->
                <div class="block">
                    <!-- Article Title -->
                    <div class="block-title">
                        <h2></h2>
                    </div>
                    <!-- END Article Title -->
                        <!-- Article Content -->
                        <!-- Intro -->
                        <h2>Introduzione</h2>
                        <p>In aquariofilia le radici, intese come elemento decorativo di una vasca, sono state sempre utilizzate e sono l'elemento più comune e centrale di una vasca. Esistono vari tipi e prima di inserirli, è necessario seguire queste procedure:
                        <ul>
                            <li>Bollire i legni,sia per sterilizzarli(anche se lo sono già) che per far si che rilascino gran parte del loro colore, che altrimenti finirebbe per colorare l’acqua della vasca ed eliminari eventuali spore e batteri.</li>
                            <li>Fare impregnare il legno d’acqua, altrimenti appena inserirete l’acqua nella vasca, quest’ultimo galleggerà inesorabilmente, lasciarlo in ammollo il tempo necessario con un peso sopra</li>
                        </ul>
                        </p>
                        <!-- Mangrovia -->
                        <h2>Mangrovia</h2>
                        <p>È un legno dalla colorazione rossastra, che crea piacevoli contrasti se si intende disporre una buona quantità di piante attorno al legno. Presenta molte fessure ed incavi, ottime per i locaridi da usare come tane e per piante epifite.</p>
                        <div class="row">
                            <div class="col-xs-6">
                                <p>
                                    <a href="img/article/mangrovia.jpg" data-toggle="lightbox-image">
                                        <img src="img/article/mangrovia.jpg" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- Mopani -->
                        <h2>Mopani</h2>
                        <p>Legno molto pesante che presenta due tipi di colorazioni: una più chiara ed una più scura. È un legno che colora molto l’acqua per la sua elevate concentrazione di tannini,quindi se non amate l’acqua ambrata è un legno che sconsiglio di usare.</p>
                        <div class="row">
                            <div class="col-xs-6">
                                <p>
                                    <a href="img/article/mopani.jpg" data-toggle="lightbox-image">
                                        <img src="img/article/mopani.jpg" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- Spider -->
                        <h2>Spider Wood</h2>
                        <p>Si presenta molto ramificato, e viene utilizzato sia come legno sommerso che semi-emerso, specie nella riproduzione degli ambienti amazzonici. Non sono rari gli acquariofili che lo fissano a metà o al bordo della vasca(solitamente con colle atossiche o ventose,quest’ultime più pratiche),lasciando che i rami riempiano la parte centrale della vasca. È un legno che richiede molto tempo prima che non galleggi</p>
                        <div class="row">
                            <div class="col-xs-6">
                                <p>
                                    <a href="img/article/spider.jpg" data-toggle="lightbox-image">
                                        <img src="img/article/spider.jpg" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- END Article Content -->
                    </div>
                    <!-- END Article Block -->
                </div>
                <div class="col-sm-5">
                    <!-- Related Block -->
                    <div class="block full">
                        <!-- Related Title -->
                        <div class="block-title">
                            <h2><i class="fa fa-file-text"></i> Related Articles</h2>
                        </div>
                        <!-- END Related Title -->
                        <!-- Related Content -->
                        <h4 class="sub-header">Articoli</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/choose">Primo Avvio Acquario</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/fish">Schede Pesci</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/plant">Schede Piante</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/asia">Biotopo Sud Est Asiatico</a></li>
                        </ul>
                        <h4 class="sub-header">Varie</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/pmdd">Fertilizzazione Metodo Pmmdd</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/wood">Legni Acquariofilia</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/rock">Rocce Acquariofilia</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/litraggio">Calcolatore Litri Acquario</a></li>
                        </ul>
                        <!-- END Related Content -->
                    </div>
                    <!-- END Related Block -->
                </div>
            </div>
            <!-- END Article Content -->
        </div>    
        <!-- END Page Content -->

<%- include('../partials/footer'); %>