<!-- Header -->
<%- include('../partials/header'); %>
  <!-- Main -->
<div class="main">
    <!-- Article -->
    <div class="article">
        <!-- Title -->
        <div class="jumbotron jumbotron-fluid title">
            <div class="container">
              <h1 class="display-4">Calcolatore Valore Acqua</h1>
              <p class="lead">Scopri come raggiungere i valori desiderati </p>
            </div>
        </div>
        <!-- end Title -->

        <!-- calc main -->
        <div class="container-fluid">
            <!-- Center Element -->
            <div class="d-flex justify-content-center">
           
                <!-- form -->
                <form id="calcChange">

                    <!-- form align-->
                    <div class="form-row align-items-center" >        
                        <div class="col-auto">

                            <!-- Cambio Form-->
                            <div class="form-label-group">
                                <input type="number" min="0" class="form-control" id="change" class="form-control" placeholder="Lt Cambio" required autofocus>
                            </div>

                            <!-- kH Acqua di rete Form-->
                            <div class="form-label-group">
                                <input type="number" min="0" class="form-control" id="kh" class="form-control" placeholder="kH Acqua di rete" required autofocus>
                            </div>

                            <!-- gH Acqua di rete Form-->
                            <div class="form-label-group">
                                <input type="number" min="0" class="form-control" id="gh" class="form-control" placeholder="gH Acqua di rete" required autofocus>
                            </div>

                            <!-- kH che vuoi raggiungere Form-->
                            <div class="form-label-group">
                                <input type="number" min="0" class="form-control" id="khDesire" class="form-control" placeholder="kH che vuoi raggiungere" required autofocus>
                            </div>

                            <!--  Button -->
                            <button type="submit" class="btn btn-primary calc">Calcola!</button>
                            <button type="reset" class="btn btn-secondary reset">Reset</button>
                    
                        </div>
                    </div>
                    <!-- end form align -->    

                </form>
                <!-- end Form-->
                
            </div>
            <!-- end Center Element -->

            <!-- result -->
            <div class="alert alert-success d-none mt-2 result" role="alert" id="resultChange"></div>
            <!-- end result -->

        </div>
        <!-- end calc main-->

        <!-- info -->
        <div>
            <p style="margin-top: 30px; text-align: center;" ><b>Info</b></p>
            <p>La necessità di matenere i valori come pH, kH e gH nella norma, tenendo bassi i valori di no2 e no3 bassi.</p>
            <p>Tuttavia in molti acquari ben popolati e ben piantumati, i nitrati (e i fosfati) devo integrarli, ma questo non significa che possa rinunciare totalmente al cambio dell’acqua; anche in presenza di una fertilizzazione costante, un cambio d’acqua può reintegrare ed equilibrare i sali disciolti.
            Cambiare l’acqua ha anche un effetto stimolante per alcune specie; di contro, altre necessitano della cosiddetta acqua vecchia per riprodursi, quindi i cambi andranno evitati.
            Attraverso i cambi dell’acqua, posso introdurre acqua più o meno dura di quella in vasca e più o meno acida, variando così leggermente i valori per applicare una stagionalità. Oppure introdurre acqua più fresca e tenera per stimolare alcuni pesci a deporre.</p>
            <p>In ultima, anche se il fenomeno non è ben chiaro, cambiare l’acqua a intervalli ravvicinati e con cambi del 10-20% pare aiuti a tenere sotto controllo lo sviluppo di alcune alghe come le BBA, anche se gli inquinanti sono bassi; viceversa in altre situazioni cambi troppo frequenti penalizzano le piante e rendono le alghe presenti più competitive. In media, molto indicativamente, in un acquario ben progettato è sufficiente un cambio del 10% a settimana o del 20% ogni 15 giorni, se proprio vogliamo dare una regola, ma anche qui non muore nessuno se i cambi sono più dilazionati, specie in acquari molto maturi.
                Tutto questo molto indicativamente, ci tengo a sottolinearlo: pesci molto prolifici, oppure che sporcano molto rendono necessari cambi più corposi; di contro ci sono pesci che mal sopportano cambi frequenti oppure acquari che necessitano di cambi solo a intervalli molto lunghi. Può essere semplicemente acqua dura di rete lasciata a decantare, qualora in acquario abbia una popolazione che vuole durezze alte e pH basico, premettendo che l’acqua di rete è tipicamente dura e con pH basico, ma ciò non è scontato.Se la popolazione necessita di acqua tenera e pH acido, sarà necessario procedere a tagliare l’acqua del cambio con acqua di osmosi inversa che ha durezze quasi uguali o uguali a zero, in modo da mantenere o abbassare le durezze in vasca.</p>
        </div>
        <!-- end info-->

    </div>
    <!-- end Article -->
</div>
<!-- end Main -->

<!-- Footer -->
<%- include('../partials/footer'); %>
