<!-- Header -->
<%- include('../partials/header'); %>
  <!-- Main -->
<div class="main">
    <!-- Article -->
    <div class="article">
        <!-- Title -->
        <div class="jumbotron jumbotron-fluid title">
            <div class="container">
              <h1 class="display-4">Calcolatore Altezza Fondo</h1>
              <p class="lead">Scopri iquanti kg necessari per il tuo fondale </p>
            </div>
        </div>
        <!-- end Title -->

        <!-- calc main -->
        <div class="container-fluid">
            <!-- Center Element -->
            <div class="d-flex justify-content-center">
           
                <!-- form -->
                <form id="calcFondo">

                    <!-- form align-->
                    <div class="form-row align-items-center" >        
                        <div class="col-auto">

                            <!-- Litraggio Form-->
                            <div class="form-label-group">
                                <input type="number" min="0" class="form-control" id="lenght" class="form-control" placeholder="Lunghezza" required autofocus>
                            </div>

                            <!-- profondità Form-->
                            <div class="form-label-group">
                                <input type="number" min="0" class="form-control" id="deep" class="form-control" placeholder="Profondità" required autofocus>
                            </div>

                            <!-- Altezza Form-->
                            <div class="form-label-group">
                                <input type="number" min="0" class="form-control" id="high" class="form-control" placeholder="Altezza Fondo Desiderata" required autofocus>
                            </div>

                            <!--  Button -->
                            <button type="submit" class="btn btn-primary calc">Calcola!</button>
                            <button type="reset" class="btn btn-secondary reset">Reset</button>
                    
                        </div>
                    </div>
                    <!-- end form align -->    

                </form>
                <!-- end Form-->
                
            </div>
            <!-- end Center Element -->

            <!-- result -->
            <div class="alert alert-success d-none mt-2 result" role="alert" id="resultFondo"></div>
            <!-- end result -->

        </div>
        <!-- end calc main-->

        <!-- info -->
        <div>
            <p style="margin-top: 30px; text-align: center;" ><b>Info</b></p>
            <p>La necessità di un buon fondo con la giusta altezza è prevalentemente per le piante, per permettere una corretta diffusione dell'apparato radicale delle piante, oltre che per imitare il fondo del biotopo scelto.</p>
            <p>Il giusto spessore per il fondo mediamente deve essere di circa 6 e i 10cm. Per la scelta e sapere di più sul fondo, vi rimando all'articolo <a href="/ground">qui presente</a> per approfondire.</p>
        </div>
        <!-- end info-->

    </div>
    <!-- end Article -->
</div>
<!-- end Main -->

<!-- Footer -->
<%- include('../partials/footer'); %>  