<!-- Header -->
<%- include('../partials/header'); %>
  <!-- Main -->
<div class="main">
    <!-- Article -->
    <div class="article">
        <!-- Title -->
        <div class="jumbotron jumbotron-fluid title">
            <div class="container">
              <h1 class="display-4">Calcolatore Portata Pompa</h1>
              <p class="lead">Scopri la miglior portata della pompa per il filtraggio </p>
            </div>
        </div>
        <!-- end Title -->

        <!-- calc main -->
        <div class="container-fluid">
            <!-- Center Element -->
            <div class="d-flex justify-content-center">
           
                <!-- form -->
                <form id="calcPompa">

                    <!-- form align-->
                    <div class="form-row align-items-center" >        
                        <div class="col-auto">

                            <!-- Litraggio Form-->
                            <div class="form-label-group">
                                <input type="number" min="0" class="form-control" id="litraggio" class="form-control" placeholder="Litraggio" required autofocus>
                            </div>

                            <!--  Button -->
                            <button type="submit" class="btn btn-primary calc">Calcola!</button>
                            <button type="reset" class="btn btn-secondary reset">Reset</button>
                    
                        </div>
                    </div>
                    <!-- end form align -->    

                </form>
                <!-- end Form-->
                
            </div>
            <!-- end Center Element -->

            <!-- result -->
            <div class="alert alert-success d-none mt-2 result" role="alert" id="resultPompa"></div>
            <!-- end result -->

        </div>
        <!-- end calc main-->

        <!-- info -->
        <div>
            <p style="margin-top: 30px; text-align: center;" ><b>Info</b></p>
            <p>La necessità di avere una buona circolazione serve non solo per ricreare un determinato biotopo (acque troppo movimentate, ruscello ecc) per il benessere degli abitanti, e per un migliore filtraggio</p>
            <p>Generalmente la portata della pompa deve essere dimensionata non solo al volume
            dell'acquario, ma soprattutto a quello dei materiali filtranti, poichè una pompa 
            molto veloce da un lato movimenterà di molto l'acqua, ma non darà ai batteri il tempo
            di elaborare le sostanze tossiche.</p>
            <p>Questo calcolo è valido per tutti i tipi di filtro, ma
            la maggior parte dei produttori di filtri (in particolar modo se si parla di filtri esterni) indica la portata della pompa del filtro senza calcolare la resistenza che oppone il materiale filtrante al passaggio dell'acqua e senza calcolare eventuali dislivelli da superare.
            </p>
        </div>
        <!-- end info-->

    </div>
    <!-- end Article -->
</div>
<!-- end Main -->

<!-- Footer -->
<%- include('../partials/footer'); %>  