<!-- Header -->
<%- include('../partials/header'); %>
  <!-- Main -->
<div class="main">
    <!-- Article -->
    <div class="article">
        <!-- Title -->
        <div class="jumbotron jumbotron-fluid title">
            <div class="container">
              <h1 class="display-4">Calcolatore Watt Termostato</h1>
              <p class="lead">Scopri i watt necessari per mantenere una buona temperatura nel tuo acquario </p>
            </div>
        </div>
        <!-- end Title -->

        <!-- calc main -->
        <div class="container-fluid">
            <!-- Center Element -->
            <div class="d-flex justify-content-center">
           
                <!-- form -->
                <form id="calcTermos">

                    <!-- form align-->
                    <div class="form-row align-items-center" >        
                        <div class="col-auto">

                            <!-- Litraggio Form-->
                            <div class="form-label-group">
                                <input type="number" min="0" class="form-control" id="litraggio" class="form-control" placeholder="Litraggio" required autofocus>
                            </div>

                            <!--  Button -->
                            <button type="submit" class="btn btn-primary calc">Calcola!</button>
                            <button type="reset" class="btn btn-secondary reset">Reset</button>
                    
                        </div>
                    </div>
                    <!-- end form align -->    

                </form>
                <!-- end Form-->
                
            </div>
            <!-- end Center Element -->

            <!-- result -->
            <div class="alert alert-success d-none mt-2 result" role="alert" id="resultTermos"></div>
            <!-- end result -->

        </div>
        <!-- end calc main-->

        <!-- info -->
        <div>
            <p style="margin-top: 30px; text-align: center;" ><b>Info</b></p>
            <p>Diversi delle specie che ospitiamo nei nostri acquari sono abituati a vivere in un ambiente caldo a seconda delle stagioni, che sia in estate o in inverno, devono rimanere in un ambiente con temperatura impostata e controllata da un particolare macchinario. Il riscaldatore per acquario ha appunto questa funzione, di regolare e mantenere in maniera automatica la temperatura dell’acqua fino ad un valore impostato, evitando il raffreddamento dell’acqua che potrebbe essere dannoso.</p>
            <p>Nella scelta di un termo riscaldatore per acquario è bene capire la giusta potenza e le caratteristiche che deve possedere questo strumento per funzionare nel migliore dei modi. Nella scelta del prodotto si tiene quasi sempre conto della grandezza dell’acquario e della quantità di acqua, per cui si fa riferimento ad un particolare rapporto di 1 watt per ogni litro di acqua presente all’interno dell’acquario. In questo modo è possibile riscaldare l’acqua in maniera veloce e immediata, senza andare a sollecitare troppo l’utilizzo della resistenza e del termostato dell’acquario.</p>       
            <p>La temperatura che va impostata è specifica per ogni singolo esemplare, anche se un valore medio per i pesci tropicali è intorno ai 24/26°, un intervallo versatile e idoneo alla gran parte dei pesci che popolano l’acquario. Bisogna considerare anche gli sbalzi di temperatura che possono esserci tra la notte e il giorno e nel corso delle stagioni fredde o calde, in particolare in estate o in inverno. In particolare, nel periodo estivo può capitare di spegnere il dispositivo per evitare di riscaldare ulteriormente la temperatura dell’acqua, che già risulta abbastanza calda. In ogni caso il termostato funziona e si attiva solo quando la temperatura scende sotto determinati limiti e quindi si può tranquillamente scegliere di lasciarlo nell’acquario o di toglierlo momentaneamente ricordandosi di riposizionarlo nel periodo autunnale.</p>
        </div>
        <!-- end info-->

    </div>
    <!-- end Article -->
</div>
<!-- end Main -->

<!-- Footer -->
<%- include('../partials/footer'); %>  