/* Image header*/

.img-header {
    height: 100vh;
    min-height: 500px;
    background-image: url("/img/masthead.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Featurettes*/

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


/* */

hr {
    visibility: hidden;
}


/* Footer */

#sticky-footer {
    flex-shrink: yes;
}