<%- include('../partials/header'); %>

<!-- FX Container -->
<div id="fx-container" class="fx-opacity">
    <!-- Page content -->
    <div id="page-content" class="block">
        <!-- Calculator Header -->
        <div class="block-header">
            <a href="" class="header-title-link">
                <h1>
                    <i class="fa fa-font animation-expandUp"></i>Calcolatore per il Fitraggio<br><small>Utility
                        per il calcolo
                        del filtraggio biologico della tua vasca!</small>
                </h1>
            </a>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li><i class="fa fa-home"></i></li>
            <li>Calcolatori</li>
            <li><a href="">filtraggio</a></li>
        </ul>
        <!-- END Calculator Header -->
        <!-- Headings Block -->
        <div class="block full">
            <!-- Headings Title -->
            <div class="block-title">
                <h2>Calcolatore filtraggio biologico</h2>
            </div>
            <!-- END Calc Title -->
            <!-- Calc Content -->
                <div class="row gutter30 headings-container">
                <div class="col-md-6">
                    <form id="calcFiltraggio">
                        <div class="form-group">
                            <label for="litraggio">Inserisci Litraggio Vasca</label>
                            <input type="number" min="0" class="form-control" id="litraggio" placeholder="Litraggio" required />
                        </div>
                        <button type="submit" class="btn btn-primary">Calcola</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </form>
                    <div class="alert alert-success d-none mt-2" role="alert" id="resultFiltraggio"></div>
                </div>
            </div>
            <!-- END Calc Content -->
        </div>
        <!-- END Calc Block -->
        <!-- Text Block -->
        <div class="block">
            <!-- Text Title -->
            <div class="block-title">
                <h2>Info</h2>
            </div>
            <!-- END Text Title -->
            <!-- Text Content -->
            <div class="row gutter30">
                <div class="col-md-6">
                    <p class="lead">Info</p>
                    <p>La necessità del filtraggio biologico è quella di creare delle superfici porose per la deposizione e la proliferazione dei batteri nitrificanti per asmaltire la quantità di nitriti che gli abitanti della vasca andranno a produrre.</p>
                    <p>I batteri nitrificanti sono organismi che ottengono da elementi organici nutrimento che permettono l'equilibrio del nostro acquario. Questi organismi fanno in modo che l'acqua che circola nell'acquario viene rapidamente depurata da alcune sostanze molto pericolose prodotte dai pesci (principalmente l ammoniaca e i nitriti)
                    </p>
                </div>
                <div class="col-md-6">
                    <p> Queste sostanze sono potenzialmente pericolose poichè potrebbero raggiungere livelli letali per i nostri ospiti Per consentire un efficacia abbattimento dell’ ammoniaca, quindi l'acqua deve scorrere nel vano filtro dove dopo una filtrazione meccanica (generalmente lana o spugne sintetiche) incontrerà la colonia dei batteri nitrificanti quest’ ultima dovrà essere di una biomassa adeguata per poter consumare in un unico passaggio tutta l ammoniaca e tutti i nitriti che riceve dalla vasca. I migliori prodotti da inserire sono: <ul><li>Cannolicchi ceramica o vetro sintetico</li><li>Siporax</li><li>BioBalls</li></ul></p>
                </div>
            </div>
        </div>
        <!-- END Text Content -->
    </div>
    <!-- END Text Block -->
<%- include('../partials/footer'); %>