<%- include('../partials/header'); %>

<!-- FX Container -->
<div id="fx-container" class="fx-opacity">
    <!-- Page content -->
    <div id="page-content" class="block">
        <!-- Typography Header -->
        <div class="block-header">
            <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
            <a href="" class="header-title-link">
                <h1>
                    <i class="fa fa-font animation-expandUp"></i>Calcolatore per il litraggio<br><small>Utility per il calcolo del litraggio della tua vasca!</small>
                </h1>
            </a>
            </div>
            <ul class="breadcrumb breadcrumb-top">
                <li><i class="fa fa-home"></i></li>
                <li>Calcolatori</li>
                <li><a href="">litraggio</a></li>
            </ul>
            <!-- END calc Header -->
            <!-- Headings Block -->
            <div class="block full">
                <!-- Headings Title -->
                <div class="block-title">
                    <h2>Calcolatore litraggio</h2>
                </div>
                <!-- END Headings Title -->
                <!-- Calc Content -->
                <div class="row gutter30 headings-container">
                    <div class="col-md-6">
                        <form id="calcLt">
                            <div class="form-group">
                                <label for="lenght">Lunghezza</label>
                                <input type="number" min="0" class="form-control" id="lenght" placeholder="Lunghezza" required />
                            </div>
                            <div class="form-group">
                                <label for="high">Altezza</label>
                                <input type="number" min="0" class="form-control" id="high" placeholder="Altezza" required />
                            </div>
                            <div class="form-group">
                                <label for="deep">Profondità</label>
                                <input type="number" min="0" class="form-control" id="deep" placeholder="Profondità" required />
                            </div>
                            <button type="submit" class="btn btn-primary">Calcola</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </form>
                        <div class="alert alert-success d-none mt-2" role="alert" id="resultLt"></div>
                    </div>
                </div>
                <!-- END Calc Content -->
            </div>
            <!-- END Headings Block -->
            <!-- Text Block -->
            <div class="block">
                <!-- Text Title -->
                <div class="block-title">
                    <h2>Perchè</h2>
                </div>
                <!-- END Text Title -->
                <!-- Text Content -->
                <div class="row gutter30">
                    <div class="col-md-6">
                        <p class="lead">Perchè conoscere il litraggio?</p>
                        <p>La necessità di esser a conoscenza del litraggio viene quando si sta scegliendo la popolazione che vorremmo ospitare e per sapere la potenza dell'illuminazione necessaria per una crescita rigogliosa delle piante o per ricreare
                            l'illuminazione di quel biotopo.</p>
                        <p>Come detto prima, bisogna innanzitutto pensare al tipo di pesci che decideremo, valutando le dimensioni che raggiungeranno e quanto vivranno. Molti pinnuti, infatti, possono arrivare anche a 50 anni di età e superare i 15 centimetri
                            di lunghezza. Questo significa che è necessario pensare ad acquari con un litraggio abbastanza considerevole (dai 150 litri in su').
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>Per iniziare, comunque, è sempre meglio una misura media, che potrà ospitare per un periodo abbastanza lungo i pesci. La taglia generalmente consigliata è da un minimo di 50/60lt fino ai 120/150lt. Inoltre, si consigliano vasche
                            più "importanti" poichè l’acquario più è grande, più è semplice da gestire: infatti negli acquari di grandi dimensioni variazioni di valori (come il pH o i nitriti e nitrati) non crea scompensi nell'immediato causando danni
                            nell'immediato ai pesci, poichè la carica batterica e la colonna di acqua della vasca permette di agire in tempo e con meno frequenza, cosa che negli acquari più piccoli la stabilità dell'ambiente è soggetta a oscillazioni
                            più importanti e va dunque controllata più spesso e se non se ne accorge in tempo, con danni maggiori in caso di prolungata non cura. </p>
                    </div>
                </div>
                <!-- END Paragraphs and Links -->
            </div>
            <!-- END Text Content -->
        </div>     
<%- include('../partials/footer'); %>
