<%- include('../partials/header'); %>

        <!-- FX Container -->
        <div id="fx-container" class="fx-opacity">
            <!-- Page content -->
            <div id="page-content" class="block">
                <!-- Calc Header -->
                <div class="block-header">
                    <a href="" class="header-title-link">
                        <h1>
                            <i class="fa fa-font animation-expandUp"></i>Calcolatore per la pompa<br><small>Utility
                                per il calcolo
                                della portata della pompa per la tua vasca!</small>
                        </h1>
                    </a>
                </div>
                <ul class="breadcrumb breadcrumb-top">
                    <li><i class="fa fa-home"></i></li>
                    <li>Calcolatori</li>
                    <li><a href="">Pompa</a></li>
                </ul>
                <!-- END Calc Header -->

                <!-- Headings Calc -->
                <div class="block full">
                    <!-- Calc Title -->
                    <div class="block-title">
                        <h2>Calcolatore Portata Pompa</h2>
                    </div>
                    <!-- END Calc Title -->
                   <!-- Calc Content -->
                     <div class="row gutter30 headings-container">
                        <div class="col-md-6">
                           <form id="calcPompa">
                                <div class="form-group">
                                    <label for="litraggio">Inserisci Litraggio Vasca</label>
                                    <input type="number" min="0" class="form-control" id="litraggio" placeholder="Litraggio" required />
                                </div>
                                <button type="submit" class="btn btn-primary">Calcola</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </form>
                             <div class="alert alert-success d-none mt-2" role="alert" id="resultPompa"></div>
                        </div>
                    </div>
                    <!-- END Calc Content -->
                </div>
                <!-- END Headings Block -->
                </div>
                <!-- END Calc Block -->

                <!-- Text Block -->
                <div class="block">
                    <!-- Text Title -->
                    <div class="block-title">
                        <h2>Perchè</h2>
                    </div>
                    <!-- END Text Title -->
                    <!-- Text Content -->
                    <div class="row gutter30">
                        <div class="col-md-6">
                            <p class="lead">Perchè è necessaria una buona circolazione?</p>
                            <p>La necessità di avere una buona circolazione serve non solo per ricreare un determinato biotopo (acque troppo movimentate, ruscello ecc) per il benessere degli abitanti, e per un migliore filtraggio</p>
                            <p>Generalmente la portata della pompa deve essere dimensionata non solo al volume dell'acquario, ma soprattutto a quello dei materiali filtranti, poichè una pompa molto veloce da un lato movimenterà di molto l'acqua, ma non darà ai batteri il tempo di elaborare le sostanze tossiche.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>Questo calcolo è valido per tutti i tipi di filtro, ma
la maggior parte dei produttori di filtri (in particolar modo se si parla di filtri esterni) indica la portata della pompa del filtro senza calcolare la resistenza che oppone il materiale filtrante al passaggio dell'acqua e senza calcolare eventuali dislivelli da superare.
</p>
                        </div>
                    </div>                
                </div>
            </div>
            <!-- END Text Block -->

<%- include('../partials/footer'); %>