@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$nav-width: 92px;
$first-color: #0c5df4;
$body-color:#373b69;
$bg-color: #12192c;
$sub-color: #b6cefc;
$white-color: #fff;
$card-info-color:#22254b;
$body-font: 'Poppins', sans-serif;
$normal-font-size: 1rem;
$small-font-size: 0.875rem;
$z-fixed: 100;