<!-- Header -->
<%- include('partials/header'); %>

            <!-- Jumbotron -->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">AquariumNext</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>
            <!-- end Jumbotron-->

            <!-- Home Container-->
            <div class="d-flex flex-wrap">

                <!-- random fish card -->
                
                <div class="card" style="width: 18rem;">
                    <img src="/db/fish/Corydoras-paleatus.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Corydoras Palateaus</h5>
                    <p class="card-text">Vanno previste zone d'ombra, formate da rocce cave...</p>
                    <a href="/fish.card?id=17" class="btn btn-primary">Vedi la scheda</a>
                    </div>
                </div>
               
                <!-- end random fish card -->

                <!-- article fish card-->
                
                <div class="card" style="width: 18rem;">
                    <img src="/img/rio.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">America del Sud</h5>
                    <p class="card-text">Il biotopo Sud Americano è il biotopo per eccellenza, il più popolare e il più facile da ricreare per chiunque, dai neofiti agli esperti.</p>
                    <a href="#" class="btn btn-primary">Leggi di più</a>
                    </div>
                </div>
                <!-- end Random Plant card -->

                <!-- random fish card -->
               
                <div class="card" style="width: 18rem;">
                  <img src="db/fish/betta.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                  <h5 class="card-title">Betta Splendens</h5>
                  <p class="card-text">Da allevare preferibilmente da solo in caso di mas...</p>
                  <a href="/fish.card?id=20" class="btn btn-primary">Vedi la scheda</a>
                  </div>
                </div>
                 
                <!-- end random fish card -->

                <!-- First Item Random -->
                <div class="card" style="width: 18rem;">
                  <img src="/img/lab.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                  <h5 class="card-title">Ciclo dell'azoto</h5>
                  <p class="card-text">Quando sentiamo dire di "vasca matura" si intende un processo nel quale i batteri del filtro e nel fondo sono abbastanza numerosi da trasformare tutto l'ammonio prodotto dai pesci prima in nitriti e poi in nitrati.</p>
                  <a href="#" class="btn btn-primary">Vedi la scheda</a>
                  </div>
                </div>
                <!-- end Random Item-->

                <!-- First Item Random -->
                <div class="card" style="width: 18rem;">
                  <img src="/db/plant/Bucephalandra Mini Red.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                  <h5 class="card-title">Bucephalandra Lamandau Mini Red</h5>
                  <p class="card-text">Pianta rara Epifita e attraente proveniente dal Bo...</p>
                  <a href="/plant.card?id=35" class="btn btn-primary">Vedi la scheda</a>
                  </div>
                </div>
                <!-- end Random Item-->

            </div>
            <!-- end Home Container-->

<!-- Footer -->
<%- include('partials/footer'); %>  