
            <!-- Footer -->
            <footer class="clearfix">
                <div class="pull-right">
                    Designed <i class="fa fa-code text-danger"></i> by <a href="https://gigliottigiuseppe.it" target="_blank">ReverbOD</a>
                </div>
                <div class="pull-left">
                    <span>2020 - Copyright © AquariumNext</span>
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Container -->
    </div>
    <!-- END Page Container -->
    <!-- scrollToTop() -->
    <a href="javascript:void(0)" id="to-top"><i class="fa fa-angle-up"></i></a>

    <!-- Jquery library from Google's CDN -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        !window.jQuery && document.write(decodeURI('%3Cscript src="/js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));
    </script>

    <!-- Javascript -->
    <script type="text/javascript" src="/js/calculator.js"></script>
    <script src="/js/vendor/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/plugins.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
</body>

</html>