<div class="mobile-navbar">

  <div class="menu">
    <span class="menu-circle"></span>
    <a href="#" class="menu-link" id="overlay-btn">
      <span class="menu-icon">
        <span class="menu-line menu-line-1"></span>
        <span class="menu-line menu-line-2"></span>
        <span class="menu-line menu-line-3"></span>
      </span>
    </a>
  </div>

  <div class="menu-overlay">
    <h1 class="overlay-info">
      TEST
    </h1>
  </div>

</div>