<!-- Header -->
<%- include('../partials/header'); %>
        <!-- Main -->
        <div class="main">
            <!-- Article -->
            <div class="article">
                <!-- Article Title -->
                <div class="jumbotron jumbotron-fluid title">
                    <div class="container">
                      <h1 class="display-4">Biotopo Africano</h1>
                      <p class="lead">In Africa sono presenti moltissimi habitat acquatici differenti, variano dall'areale (noi in particolare ci incentreremo su Africa Orientale e Occidentale). Questa sua vastità permette di avere una varietà di habitat molto particolari e distanti tra loro, in particolare per i laghi Malawi e Tanganica.</p>
                    </div>
                  </div>
                <!-- end Article Title -->

                <!-- Africa Occidentale -->
                <!-- Article -->
                <h2 style="text-align: center; padding: 20px;">Africa Occidentale</h2>

                <!-- Yaèrè -->
                <p style="text-align: center; padding: 10px;"><b>Yaèrè del Ciad</b></p>
                <p>Vaste piane alluvionali del Camerun, si estende su una superficie di 8000km2, dai piedi del monte Mandara a sud-ovest e fino al lago Tchad a nord. Queste piane vengono allagate per alcuni mesi all’anno per lo straripamento dei fiumi (fiume Logone principalmente) in seguito alle pioggie.<br> 
                <b>Caratteristiche fisiche e chimiche:</b> pH 6/7.5; dH 2-10; T 24/35°. Fondo sabbia quarzifera fine, arredamento composto da rocce di basalto e ardesia e radici.<br><b>Piante Acquatiche Presenti:</b> Ammannia senegalensis, Ceratophyllum demersum, Eichornia natans, Ceratopteris cornuta, Nymphoides indaca, Nymphea lotu, N. micrantha, bacopa Crenata, Ottelia ulvifolia, Azolla africana, Pistia stratoites.<br>
                <b>Pesci Presenti:</b> Clarias anguillaris, Schilbe mystus, Synodontis nigrita, Malapterurus elcticus, Auchenoglanis occidentalis, Gymnarchus niloticus, Parachanna obsucra, Xenomystus nigri, Pollymus isidori,, Hemiogrammopetersius intermedius, Sarotherodon galilaeus, Epiplatys bifasciatus<br>
                <b>Dimensioni vasca Consigliata:</b> 150x60x60<br><b>Filtrazione Consigliata</b> filtro da 1.200 l/t.
                <!-- end Yaèrè -->

                <!-- Torrente Gabon -->
                <p style="text-align: center; padding: 10px;"><b>Torrente Gabon</b></p>
                Clima perennemente caldo-umido, molto piovoso e ricco di piante interne. La maggior parte del territorio è ricoperto da una densa foresta pluviale.
                <br><b>Caratteristiche fisiche e chimiche:</b> pH 5.8/6.5; 0-1 dGH; T 26/28;50-100 μS/cm2. Per il fondo ghiaia lateritica o lavica, per l'arredo si consigliano ciottoli chiari non calcarei e radici.
                <br><b>Piante Acquatiche Presenti:</b> Ammania senegalensis, Anubias barteri var. glabra, Anubias gilletii, Anubias Heterophylla, Anubias pynaertii, Bacopa creanat, Bolbitis heudelotii, Crinum Natans, Limnophila dasyantha, Nymphaea lotus, Pistia stratoites.
                <br><b>Pesci Presenti:</b> Protopterus dolloi, Calamoichtys calabaricus, Polypterus retopinnis, Pantodon buchholzi, Xenomystus, Alestes longipinnis, Neolebias ansorgii,barbus holotaenia,Eutropiellusdebauwi, Schilbe mystus, platapochilus ngaensis, Aphyosemion austraòe, Aphyosemion gabunense, Aphyosemion ogoense, Aphyosemion striatum, Epiplatys sexfasciatus, Epiplatys singa, Parachanna obscura, Chromidotilapia guentheri, Hemiochromis elongatus, Tilapia tholloni.
                <br><b>Dimensioni vasca Consigliata:</b> Vasca non inferiore ai 350lt<br><b>Filtrazione Consigliata:</b> almeno 1000 l/h
                <p></p>

                <!-- Cross River -->
                <p style="text-align: center; padding: 10px;"><b>Cross River</b></p>
                Uno dei maggiori fiumi nigeriani dopo il Niger, attraversa un territorio da collinoso a pianeggiante, alternando foresta pluviale a piantagioni di palme da olio.
                <br><b>Caratteristiche fisiche e chimiche:</b> pH 6; 2°dKH; 2°dGH; T 24-28°C. Per il fondo si consiglia di optare per una sabbia quarzifera fine mista a lapillo vulcanico, con un arredamento composto da ardesia e pietre laviche, con una forte presenza di legni.
                <br><b>Piante Acquatiche Presenti:</b> Ammannia senegalensis, Anubias barteri, Bacopa crenata, Ceratophyllum demersum, Crinum natans, Eichhornia crassipes, Nymphaea lotus, Pistia stratiotes.
                <br><b>Pesci Presenti:</b> Alestes longipinnis, Arnoldichthys spilopterus; Xenomystus nigri, Calamoichthys calabaricus, Polypterus senegalus, Pantodon buchholzi, Gymnallabes typus, Synodontis filamentosus, Hemichromis fasciatus, Pelvicachromis pulcher.
                <br><b>Dimensioni vasca Consigliata:</b>Vasca 150x80x60<br><b>Filtrazione Consigliata:</b> almeno 2000 l/h
                </p>
                <!-- end Cross River -->
                <!-- end Africa Occidentale -->

                <!-- Africa Orientale -->
                <h2 style="text-align: center; padding: 20px;">Africa Orientale</h2>
                <!-- Malawi -->
                <p style="text-align: center; padding: 10px " ><b>Lago Malawi</b></p>
                <p>Il biotopo africano più famoso e quello che ospita il maggior numero di specie (più di 200, appartenenti alla famiglia dei Ciclidi detti  “Mbuna”, i quali si nutrono “brucando” le alghe che ricoprono le rocce, soprattutto alghe verdi dei generi Cladophora e Calothrix, e della sottile pellicola di microrganismi (“aufwuchs”) che le riveste.
                <br><b>Caratteristiche fisiche e chimiche:</b> pH 7.7/8.5; dGh 6-8; Conduttività: 210-335 µS/cm. 2 filtri rapidi da 1500 l/h. Per il fondo l'ideale è ghiaia Policroma fine solo nel quarto anteriore, nel resto della vasca bisogna costituire una parete di rocce (non importa che siano calcaree o meno) incastrate o incollate tra loro a formare fessure, anfratti e ripari che i pesci sfrutterano. Inoltre si consiglia di inserire i pesci tutti insieme, in gruppi di 1M+2/3 F per specie e che siano in età giovanile.
                <br><b>Piante Acquatiche Presenti:</b> alghe verdi, generi Cladophora e Calothrix.
                <br><b>Pesci Presenti:</b>Pseudotropheus zebra, Pseudotropheus elongatus, Pseudotropheus fuscus, Petrotilapia nigra, Tropheops tropheops, Tropheops macrophthalmus, Labidochromis gigas, Melanochromis melanopterus, Tyrannochromis nigriventer, Genyochromis mento, Cynotilapia afra, Protomelas taeniolatus, Aristochromis christyi, Exochochromis anagenys.
                <br><b>Dimensioni vasca Consigliata:</b>Vasca almeno 150x70x80cm con illuminazione intensa<br><b>Filtrazione Consigliata:</b> L'ideale sarebbero due filtri rapidi da 1500 l/h.
                </p>
                <!-- end Malawi -->

                <!-- Tanganika -->
                <p style="text-align: center; padding: 10px;"><b>Lago Tanganica - Scogliera rocciosa:</b></p>
                <p>Le grandi rocce della riva coperta di fitta vegetazione proseguono in acqua, formando una spettacolare franata subacquea. Il continuo moto ondoso ha creato, nel corso di migliaia d'anni, un caotico sovrapporsi di massi di tutte le dimensioni, che con l'aumentare della profondità formano un dedalo di tane passanti, rifugio preferito di un gran numero di pesci. La copertura algale si spinge fino a diverse decine di metri di profondità, favorita dalla limpidezza dell'acqua, per essere man mano sostituita da una sottile patina di sedimento.
                <br><b>Caratteristiche fisiche e chimiche:</b> pH 8-9; dGH 10-12. Per il fondo bisogna optare per un ghiaietto policromo grossolano, con un arredamento a base di rocce e ciottoli di varia misura andando a formare una scogliera a scalinata e ricca di anfratti e fessure.
                <br><b>Piante Acquatiche Presenti:</b> Non esistono in questo biotopo, sostituite dalle alghe incrostanti e filamentose
                <br><b>Pesci Presenti:</b>Eretmodus cyanostictus, Altolamprologus compressiceps, Ciphotilapia frondosa, Neolamprologus brichardi, N. buscheri, N. cylindricus, N. gracilis, N. longior, N. pulcher, N. sexfasciatus, Tropheus brichardi, T. duboisi, T. moorii, Julidochromis regani (Cichlidae), Synodontis multipunctatus (Mochokidae)
                <br><b>Dimensioni vasca Consigliata:</b>Vasca 120x60x60<br><b>Filtrazione Consigliata:</b> 1000 l/t
                <p style="text-align: center; padding: 10px; "><b>Lago Tanganica - Conchigliofili</b></p>
                <p>A profondità comprese fra i 10-15 e i 30-35 m, sono presenti distese di gusci di conchiglie morte, appartenenti a Molluschi Gasteropodi, raggruppati a formare dei veri e propri letti spessi alcuni centimetri. Generalmente, nelle acque dolci, le conchiglie subiscono un processo di degradazione molto veloce, ma che in questo biotopo avviene molto lentamente per via dell’elevata presenza di carbonati e l’elevata alcalinità.
                <br><b>Caratteristiche fisiche e chimiche:</b> ph 8.6/9.6;gH 7/11, kH 16/20, per il fondo bisogna usare sabbia fine e creare uno spessore di 8/10cm. Per l'arredamento bisogna andare a creare un tappeto di gusci di gasteropodi, gusci di Neothauma o di altre specie del tanganica per ricreare il biotopo fedelmente, ma dato la difficile reperibilità, si possono utilizzare gusci di altri gasteropodi come ampullarie o chiocciole terrestri vendute per scopi alimentari.
                <br><b>Piante Acquatiche Presenti:</b> Ceratophyllum demersum e Vallisneria spiralis
                <br><b>Pesci Presenti:</b> Lamprologus callipterus, Lamprologus kungweensis, Lamprologus meleagris, Lamprologus ocellatus, Lamprologus ornatipinnis, Lepidiolamprologus sp. "Meeli Kipili", Neolamprologus boulengeri, Neolamprologus brevis, Neolamprologus callirius, N. hecqui, N. meleagris, N.multifasciatus, Neolamprologus, Telmatochromis sp. "vittatus shell"
                <br><b>Dimensioni vasca Consigliata:</b>Vasca da 50/60lt<br><b>Filtrazione Consigliata:</b> basta una buona circolazione
                </p>
                <!-- end Tanganika -->

            </div>
            <!-- end Article -->
        </div>
        <!-- end Main -->
            
<!-- Footer -->
<%- include('../partials/footer'); %>  