<!-- Header -->
<%- include('../partials/header'); %>
  <!-- Main -->
    <div class="main">
        <!-- Article -->
        <div class="article">
            <!-- Article Title -->
            <div class="jumbotron jumbotron-fluid title">
                <div class="container">
                    <h1 class="display-4">Biotopo del Sud Est Asiatico</h1>
                    <p class="lead">Il biotopo del Sud Est Asiatico riguarda l’Asia sudorientale e copre in generale una vasta parte del continente asiatico e le isole di Sumatra, Borneo e Giava. In passato, lungo le terre, tutti questi paesi erano attraversati da un grande sistema fluviale che li percorreva tutti. Questa zona è una foresta pluviale, dove l’acqua riesce a spostarsi grazie all’aiuto di molti affluenti. Nei fiumi non c’è praticamente corrente, un ambiente molto lento con molta vegetazione densa e decadente.</p>
                </div>
            </div>
            <!-- end Article Title -->

            <!-- Risaia Thailandese -->
            <p style="text-align: center; padding: 10px;"><b>Risaia Thailandese</b></p>
            <p>Si tratta di piccole raccolte d'acqua che, soprattutto nei periodi meno piovosi, sono spesso estese su pochi metri quadri di superficie, profonde poche decine di centimetri e, dunque, simili per dimensioni ai nostri acquari! L'acqua è generalmente limpida in assenza di piogge, da torbida a molto torbida durante le precipitazioni e nei giorni che seguono.
            <br><b>Caratteristiche fisiche e chimiche:</b>T 25-28°C; pH 6; 2-3°dH;  nitrati non superiori a 20 mg/l, Per l'arredamento vale per tutti, fondo di sabbia fine e scura inerte, legni  di torbiera e lastre di ardesia.
            <br><b>Piante Acquatiche Presenti:</b> Azolla pinnata, Ceratopteris thalictroides, Cryptocoryne ciliata, Cyperus helferi, Hygrophila corymbosa, Hygrophila difformis, Limnophila aromatica, Limnophila heterophylla, Nymphaea stellata, Nymphoides indica, Rotala rotundifolia, Rotala wallichii, Vallisneria americana.
            <br><b>Pesci Presenti:</b>  Pangio kuhlii, Botia sidthimunki, Notopterus notopterus, Oryzias melastigmus, Aplocheilus panchax, Rasbora espei, Betta smaragdina, Betta splendens, Trichopodus trichopterus, Trichopsis pumila, Osphronemus gorami, Channa micropeltes.
            <br><b>Dimensioni vasca Consigliata:</b> Data la notevole e la vastità di taglie ed esigenze dei singoli pesci, è difficile dare una misura standard per la misura e il litraggio dell’acquario, bisogna decidere le dimensioni in base alla tipologia di pesci scelti.
            </p>
            <!-- end Risaia Thailandese -->

            <!-- Mangrovieto di Sumatra -->
            <p style="text-align: center; padding: 10px;"><b>Mangrovieto di Sumatra</b></p>
            <p> Il mangrovieto è un'associazione di piante aroboree tropicali genericamente note come Mangrovie, strettamente legate all'acqua e caratterizzate da una notevole eurialinità che consente loro di sopravvivere in acqua a salinità variabilissima, da dolce a marina: questo biotopo è infatti fortemente influenzato dalle maree, che producono drastiche e periodiche variazioni dei principali parametri fisico-chimici dell'acqua.
            <b>Caratteristiche fisiche e chimiche:</b>  T 24-30°C; pH 7,5-8,5;  15-30°dH; densità 1,006-1,020. Salinità variabile con i cambi d'acqua (alternare cambi con acqua dolce e con acqua marina), con densità non superiore a 1,005 se si vogliono coltivare piante. Arredamento a base di rocce e radici di Mangrovia e radici contorte. 
            <br><b>Piante Acquatiche Presenti:</b> Caulerpa spp. (alghe: densità non inferiore a 1,018), Rhizophora spp. (mangrovia), Cryptocoryne pontederiifolia, Cryptocoryne ciliata, Ceratophyllum demersum.
            <br><b>Pesci Presenti:</b> Scatophagus argus, Monodactylus argenteus, Tetraodon nigroviridis, Tetraodon biocellatus, Macrognathus aculeatus, Brachygobius xanthozona, Periophthalmus barbarus,  Chanda wollfii.
            <br><b>Dimensioni vasca Consigliata:</b>Vasca 150x80x60<br><b>Filtrazione Consigliata</b> filtro esterno da 2000 l/t.
            </p>
            <!-- end Mangrovieto di Sumatra -->

            <!-- Torrente Sri - Lanka -->
            <p style="text-align: center; padding: 10px;"><b>Torrente Sri - Lanka </b></p>
            <p>La regione, pur essendo caratterizzata da clima tropicale come tutta l'isola, è più fresca rispetto alle zone costiere, la temperatura può scendere infatti fino a 20-22°C. Il ruscello che costituisce il nostro biotopo è stretto (1-2 m di larghezza) e piuttosto tortuoso, si snoda attraverso la foresta prevalentemente in penombra, con tratti esposti ed assolati.
            <br><b>Caratteristiche fisiche e chimiche:</b>T 24-26°C; pH 7, 3°dH. Avremo un fondo di sabbia quarzifera mista a ciottoli grossolani non calcarei e gravelit. Per l'arredamento radici di mangrovia, lastre di ardesia creando una terrazza lungo le pareti.
            <br><b>Piante Acquatiche Presenti:</b> Cryptocoryne beckettii, Cryptocoryne parva, Cryptocoryne undulata, Cryptocoryne walkeri, Cryptocoryne wendtii, Limnophila indica, Aponogeton rigidifolius.
            <br><b>Pesci Presenti:</b> Barbus bimaculatus,  Barbus cumingi,  Barbus titteya, Chela laubuca, Garra taeniata, Lepidocephalus thermalis .
            <br><b>Dimensioni vasca Consigliata:</b> Vasca 100x40x40 cm<br><b>Filtrazione Consigliata:</b> filtro da 600 l/t.
            </p>
            <!-- end Torrente Sri - Lanka -->

        </div>
        <!-- end Article -->
    </div>
    <!-- end Main -->
    
<!-- Footer -->
<%- include('../partials/footer'); %>