<%- include('../partials/header'); %>

<!-- FX Container -->
<div id="fx-container" class="fx-opacity">
    <!-- Page content -->
    <div id="page-content" class="block">
        <!-- Article Header -->
        <div class="block-header">
            <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
            <a href="" class="header-title-link">
                <h1>
                    <i class="gi gi-pencil animation-expandUp"></i>Article<br><small>A subtitle would go here!</small>
                </h1>
            </a>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li><i class="fa fa-file-o"></i></li>
            <li>Pages</li>
            <li><a href="">Article</a></li>
        </ul>
        <!-- END Article Header -->
        <!-- Article Content -->
        <div class="row gutter30">
            <div class="col-sm-7">
                <!-- Article Block -->
                <div class="block">
                    <!-- Article Title -->
                    <div class="block-title">
                        <h2><small>By <a href="page_special_user_profile.html">John Doe</a> | November 1, 2013 | <a href="javascript:void(0)">web design</a>, <a href="javascript:void(0)">tutorial</a></small></h2>
                    </div>
                    <!-- END Article Title -->
                        <!-- Article Content -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices dolor? Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <blockquote>
                            <p>This is a blockquote that says something smart!</p>
                            <footer>John Doe</footer>
                        </blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas <a href="javascript:void(0)">ultrices</a>, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices dolor? Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="row">
                            <div class="col-xs-6">
                                <p>
                                    <a href="img/placeholders/image_720x450_light.png" data-toggle="lightbox-image">
                                        <img src="img/placeholders/image_720x450_light.png" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p>
                                    <a href="img/placeholders/image_720x450_light.png" data-toggle="lightbox-image">
                                        <img src="img/placeholders/image_720x450_light.png" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices dolor? Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices dolor? Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="row">
                            <div class="col-xs-4">
                                <p>
                                    <a href="img/placeholders/image_720x450_light.png" data-toggle="lightbox-image">
                                        <img src="img/placeholders/image_720x450_light.png" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                            <div class="col-xs-4">
                                <p>
                                    <a href="img/placeholders/image_720x450_light.png" data-toggle="lightbox-image">
                                        <img src="img/placeholders/image_720x450_light.png" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                            <div class="col-xs-4">
                                <p>
                                    <a href="img/placeholders/image_720x450_light.png" data-toggle="lightbox-image">
                                        <img src="img/placeholders/image_720x450_light.png" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices dolor? Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices dolor? Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <!-- END Article Content -->
                    </div>
                    <!-- END Article Block -->
                </div>
                <div class="col-sm-5">
                    <!-- Author Block -->
                    <div class="block full">
                        <!-- Author Title -->
                        <div class="block-title">
                            <h2>About the author</h2>
                        </div>
                        <!-- END Author Title -->
                        <!-- Author Content -->
                        <div class="content-text clearfix">
                            <img src="img/template/avatar2.jpg" alt="avatar" class="img-circle pull-left">
                            <h5><a href="page_special_user_profile.html" class="label label-primary">John Doe</a></h5>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus.
                        </div>
                        <!-- END Author Content -->
                    </div>
                    <!-- END Author Block -->
                    <!-- Related Block -->
                    <div class="block full">
                        <!-- Related Title -->
                        <div class="block-title">
                            <h2><i class="fa fa-file-text"></i> Related Articles</h2>
                        </div>
                        <!-- END Related Title -->
                        <!-- Related Content -->
                        <h4 class="sub-header">In Web Design &amp; Development</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="javascript:void(0)">Learn PHP from scratch</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="javascript:void(0)">Choosing the best IDE</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="javascript:void(0)">Latest Trends in Web Design</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="javascript:void(0)">Photoshop, is it the best tool?</a></li>
                        </ul>
                        <h4 class="sub-header">In Tutorials</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="javascript:void(0)">Design the perfect icon</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="javascript:void(0)">Photoshop Basics</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="javascript:void(0)">Building a CMS, Part #6</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="javascript:void(0)">Creating an icon set, Part #4</a></li>
                        </ul>
                        <!-- END Related Content -->
                    </div>
                    <!-- END Related Block -->
                </div>
            </div>
            <!-- END Article Content -->
        </div>    
        <!-- END Page Content -->

<%- include('../partials/footer'); %>