<%- include('../partials/header'); %>

<!-- FX Container -->
 <div id="fx-container" class="fx-opacity">
    <!-- Page content -->
    <div id="page-content" class="block">
        <!-- Article Header -->
        <div class="block-header">
            <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
            <a href="" class="header-title-link">
                <h1>
                    <i class="gi gi-pencil animation-expandUp"></i>Biotopo<br><small>I Biotopi Sud Americani</small>
                </h1>
            </a>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li><i class="fa fa-file-o"></i></li>
            <li>Biotopi</li>
            <li><a href="">Sud America</a></li>
        </ul>
        <!-- END Article Header -->
        <!-- Article Content -->
        <div class="row gutter30">
            <div class="col-sm-7">
                <!-- Article Block -->
                <div class="block">
                    <!-- Article Title -->
                    <div class="block-title">
                        <h2></h2>
                    </div>
                    <!-- END Article Title -->
                        <!-- Article Content -->
                        <p>Il biotopo Sud Americano è il biotopo per eccellenza, il più popolare e il più facile da ricreare per chiunque, dai neofiti agli esperti.</p>
                        <!-- Rio Negro -->
                        <p>
                        <b>Rio Negro:</b><br>
                            Il Rio Negro è un fiume di2.000 km) dell'America meridionale affluente di sinistra del Rio
                            delle Amazzoni. Il Rio Negro nasce in Colombia con il nome di Rio Guainia e, entrando in territorio brasiliano, si unisce presso Manaus al
                            Rio Solimoes a formare di fatto il Rio delle Amazzoni. Si tratta dell’unione di un fiume ad acque “nere” (Rio Negro) ed uno ad acque
                            “bianche” (Rio Solimoes), i due fiumi scorrono senza nescolare le proprie acque per ben 6 km nello spettacolare “incontro delle acque”
                            osservabile fuori Manaus.
                            <br><b>Caratteristiche fisiche e chimiche:</b> pH 4.5/5.5; dkH 0/2; dgH 5; T 26. Per il fondo è necessaria sabbia fine chiara, per l'arredamento deve essere formato da legni e foglie sul fondo (catappa, foglie di quercia, di noce). Inoltre si consiglia l’usodi torba nel filtro.
                            <br><b>Piante Acquatiche Presenti:</b>Cabomba aquatica,Ceratopteris pteridoides, C. thalictroides,Echinodorus horizontalis, E. tenellus, Eichhornia azurea, E. crassipes, Hydrocleys nymphoides,Hydrocotyle leucocephala, Limnobium laevigatum,Ludwigia helminthorrhiza, Mayaca fluviatilis,Phyllanthus fluitans, Pistia stratiotes, Salvinia auriculata, Utricularia gibba.
                            <br><b>Pesci Presenti:</b>Osteoglossum spp. (Osteoglossidae); Anostomus taeniatus, Leporinus fasciatus (Anostomidae); Paracheirodon axelrodi, P. simulans, Hemigrammus bleheri, H. schmardae, H. vorderwinkleri, Hyphessobrycon socolofi, Elachocharax georgiae (Characidae); Copella nattereri, Pyrrhulina brevis, Nannobrycon unifasciatus, Nannostomus beckfordi, N. eques, N. unifasciatus (Lebiasinidae); Carnegiella marthae (Gasteropelecidae); Colossoma macropomum, Piaractus brachypomus, Serrasalmus nattereri (Serrasalmidae); Boulengerella lateristriga (Ctenoluciidae); Corydoras robineae, Dianema urostriata (Callichthyidae); Phractocephalus hemioliopterus, Perrunichthys perruno (Pimelodidae); Peckoltia pulchra (Loricariidae); Aequidens diadema, A. pallidus, Apistogramma agassizii, A. gephyra, A. gibbiceps, A. hippolytae, A. pertensis, A. regani, Astronotus ocellatus, Cichla ocellaris, Nannacara adoketa, Pterophyllum scalare, Symphysodon discus (Cichlidae); Eigenmannia virescens (Rhamphichthyidae).
                            <br><b>Dimensioni vasca Consigliata:</b>Abbiamo 2 misure: una vasca dai 80x35x40 cm in su' nel caso scegliessimo Ciclidi nani, e una vasca da 120x60x50 cm in caso scegliessimo Ciclidi come Pterophyllum Scalare o Symphosoydon Discuss.
                            <p></p>
                        <!-- -->
                        <b>Igapò dell’Amazzonia</b> <br>
                        Quando le torbide acque fluviali, ricche di sedimenti di origine minerale, oltrepassano i propri argini naturali, si insinuano nella foresta per oltre 100 km, riempiendo i bacini presenti nella piana alluvionale amazzonica. Successivamente a questa iniziale fase di crescita, il loro livello inizia a stabilizzarsi, ed il processo di sedimentazioni sul fondo dei detriti le rende lentamente sempre più limpide, permettendo alla luce di penetrare in profondità. Questo, in aggiunta all'alto livello di nutrienti disciolti, provoca una crescita esplosiva del plancton. E' il momento, per i pesci, di addentrarsi fra gli alberi sommersi, nutrendosi abbondantemente di insetti, frutti caduti in acqua, semi o semplici detriti organici.   
                        <br><b>Caratteristiche fisiche e chimiche:</b> pH da 5.5 a 6.5; dKH 0 – 1; dGH 0 – 5; Per il fondo sabbia fine scura, arredata con radici, necessaria acqua ambrato in modo da darrisalto ai colori dei pesci presenti.    
                        <br><b>Piante Acquatiche Presenti:</b>Cabomba aquatica, C. furcata, Ceratopteris pteridoides, C. thalictroides, Echinodorus grisebachii, E. macrophyllus, E. paniculatus, E. subalatus, E. tenellus, Eichhornia azurea, E. crassipes, Heteranthera zosterifolia, Hydrocleys nymphoides, Hydrocotyle leucocephala, Limnobium laevigatum, Ludwigia helminthorrhiza, Phyllanthus fluitans, Pistia stratiotes, Salvinia auriculata, Utricularia gibba. 
                        <br><b>Pesci Presenti:</b>Osteoglossum ferreirai (Osteoglossidae); Abramites hypselonotus, Anostomus anostomus, Leporinus fasciatus (Anostomidae); Paracheirodon axelrodi, Hemigrammus bleheri, Hyphessobrycon erythrostigma (Characidae); Copeina guttata, Nannobrycon unifasciatus, Nannostomus trifasciatus (Lebiasinidae); Colossoma macropomum, Piaractus brachypomus, Serrasalmus nattereri, S. rhombeus (Serrasalmidae); Rivulus ornatus (Aplocheilidae), Brochis splendens, Corydoras barbatus, C. elegans, C. schwartzii, C. julii, Dianema urostriata, Megalechis thoracata (Callichthyidae); Sorubim lima (Pimelodidae); Aequidens pallidus, Astronotus ocellatus, Cichla ocellaris, Crenicichla lugubris, Geophagus brasiliensis, Mesonauta festivus, Heros severus, Pterophyllum scalare, Symphysodon aequifasciatus haraldi, S. discus, Uaru amphiacanthoides (Cichlidae);
                        <br><b>Dimensioni vasca Consigliata:</b>vasche da 80x35x40 cm a 150x60x70<br><b>Circolazione Acqua Consigliata:</b> dai 800 ai 1200 l/t   
                        </p>
                        <div class="row">
                            <div class="col-xs-6">
                                <p>
                                    <a href="img/placeholders/image_720x450_light.png" data-toggle="lightbox-image">
                                        <img src="img/placeholders/image_720x450_light.png" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p>
                                    <a href="img/placeholders/image_720x450_light.png" data-toggle="lightbox-image">
                                        <img src="img/placeholders/image_720x450_light.png" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                        </div>
                        <p>
                        <b>Brejo</b><br>
                        Questo biotopo fa parte dei cosiddetti banhados, raccolte naturali di acqua poco profonda (3-25 cm) che occupano poco meno dell'1% dell'intero territorio del Distretto. E' costituito da piccole estensioni d'acqua (profonde in media 10 cm) che affiorano a breve distanza dai fiumi, dove il profilo del terreno è piatto o leggermente concavo. Malgrado l'apparenza, non è un biotopo temporaneo: infatti, non si prosciuga mai, neppure durante la stagione secca.
                        <br><b>Caratteristiche fisiche e chimiche:</b> Avremo due valori di riferimento, uno di torbiera con pH 5-6; 5-6°dGH; 2-3°dKH; T 20/24, e uno per poecilidi con un pH 7; dGH 8/12; dKH 3/4. Per il fondo, si avrà un fondo di sabbia quarzifera o lateritica fine misto ad argilla, con un arredamento molto semplice, limitato ad una piccola radice.
                        <br><b>Piante Acquatiche Presenti:</b>  Ceratopteris thalictroides, Ludwigia spp., Hydrocotyle leucocephala, Pontederia cordata, Utricularia spp.
                        <br><b>Pesci Presenti:</b>Cynolebias boitonei, Rivulus punctatus (Rivulidae); Hyphessobrycon duragenys, Astyanax scabripinnis, Characidium fasciatum (Characidae); Cichlasoma portalegrense (Cichlidae), oecilia reticulata, Phalloceros caudimaculatus, Xiphophorus helleri, X. maculatus (Poeciliidae); Lepomis macrochir (Centrarchidae); Tilapia rendalli (Cichlidae)
                        <br><b>Dimensioni vasca Consigliata:</b>  In caso diallevamento di killifish e qualche piccolo caracide, è sufficiente una vasca da 60x30x30, confiltro a spugna o interno con pompa incorporata
                        <p></p>
                        <b>Delta Orinoco</b><br>
                        Nella valle del Delta dell'Orinoco si estendono numerosi laghetti tra un ramo e l'altro del fiume. Spesso queste raccolte d'acqua, profonde al massimo pochi metri, si trovano in terreni relativamente secchi e stepposi, con pochi alberi sostituiti da una vegetazione arbustiva,. Le  precipitazioni non sono quelle amazzoniche, i poco più di 1.000 mm annui di pioggia, infatti, rappresentano circa 1/3 dell'acqua che ogni anno cade su Manaus o Belém! Durante i mesi più secchi, il livello dei bacini lacustri cala sensibilmente, senza portare però un significativo peggioramento dei più importanti parametri ambientali. L'acqua calma, la forte insolazione e l'abbondanza di nutrienti favoriscono lo sviluppo di una vegetazione acquatica e palustre davvero rigogliosa.
                        <br><b>Caratteristiche fisiche e chimiche:</b> pH 6; dGH 6-8; dKH 2-4; T 25-28. Avremo un fondo di sabbia quarzifera o basaltica fine. Per l'arredamento si useranno delle lastre di ardesia e qualche radice legnosa contorta. Inoltre si consiglia l'utilizzo di un impianto co2 con una luce intensa per la corretta gestione delle piante.
                        <br><b>Piante Acquatiche Presenti:</b> Cabomba aquatica, C. furcata (nella foto in basso), Mayaca fluviatilis, Eichhornia azurea, E. diversifolia, Ludwigia inclinata, Nymphaea rudgeana, Echinodorus horizontalis, E. tenellus, Sagittaria sp.
                        <br><b>Pesci Presenti:</b> Pristella maxillaris, Aphyocharax erythrurus (Characidae); Polycentrus punctatus (Nandidae); Callichthys callichthys, Corydoras aeneus, C. septentrionalis, Megalechis thoracata (Callichthyidae); Aequidens pulcher, Apistogramma hoignei, Microgeophagus ramirezi, Cichlasoma taenia (Cichlidae).
                        <br><b>Dimensioni vasca Consigliata:</b> vasca 100x50x50 cm
                        <p></p>
                        <b>Rio Guaporè</b>
                        Nasce nella catena montuosa della Serra dos Parecis in Mato Grosso, a circa 650 m di altezza: riceve le acque del Rio Verde e costituisce per un lungo tratto il confine tra Bolivia e Brasile, prima di immettersi nel Rio Mamoré. Attraversa regioni dove nei mesi più caldi (inverno-primavera) si registrano infatti temperature dell’aria spesso superiori ai 30°C, mentre in quelli più freddi i valori crollano frequentemente intorno ai 15°C, scendendo talvolta anche sotto i 10°C.
                        <br><b>Caratteristiche fisiche e chimiche:</b> T 25-27°C; pH 6; 2-3°dKH; 6-10°dGH e conduttività 100-200 microsiemens.Per il fondo sceglieremo sabbia quarzifera fine chiara su sottofondo di argilla o gravelit. Per l'arredamento andremo a usare rocce non calcaree con una o due radici. E' consigliabile una leggera ambratura dell'acqua. 
                        <br><b>Piante Acquatiche Presenti:</b>Echinodorus grandiflorus, E. tenellus, E. paniculatus (nella foto in basso), E. bolivianus, E. grisebachii, Limnophila indica, Cabomba furcata, Ottelia brasiliensis, Eichhornia azurea, E. crassipes, E. diversifolia, Egeria najas, Najas conferta, Ludwigia sedoides, Limnobium laevigatus, Salvinia auriculata, Hydrocleys nymphoides, Utricularia breviscapa, U. hydrocarpa.
                        <br><b>Pesci Presenti:</b>Astronotus crassipinnis, Apistogramma trifasciata, A. maciliensis, A. luelingi, A. sp. “Guaporé”, A. staecki, Mesonauta festivus, Crenicichla johanna, Aequidens awani, Laetacara dorsigera, Microgeophagus altispinosus (Cichlidae); Corydoras haraldschultzi, C. hastatus, C. caudimaculatus, C. cochui, C. guapore, C. polystictus, C. sterbai (Callichthyidae); Tatia aulopygia (Auchenipteridae); Amblydoras hancocki (Doradidae); Pseudoplatystoma tigrinum (Pimelodidae); Megalamphodus megalopterus, Cheirodon kriegi, Gymnocorymbus ternetzi, Hyphessobrycon callistus, H. bentosi rosaceus, Thayeria obliqua (Characidae); Rivulus punctatus (Rivulidae); Potamotrygon motoro.
                        <br><b>Dimensioni vasca Consigliata:</b>  Vasca 120x50x60 con un filtro interno di 30l.
                        </p>
                        <div class="row">
                            <div class="col-xs-4">
                                <p>
                                    <a href="img/placeholders/image_720x450_light.png" data-toggle="lightbox-image">
                                        <img src="img/placeholders/image_720x450_light.png" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                            <div class="col-xs-4">
                                <p>
                                    <a href="img/placeholders/image_720x450_light.png" data-toggle="lightbox-image">
                                        <img src="img/placeholders/image_720x450_light.png" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                            <div class="col-xs-4">
                                <p>
                                    <a href="img/placeholders/image_720x450_light.png" data-toggle="lightbox-image">
                                        <img src="img/placeholders/image_720x450_light.png" alt="fakeimg" class="img-responsive">
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- END Article Content -->
                    </div>
                    <!-- END Article Block -->
                </div>
                <div class="col-sm-5">
                    <!-- Related Block -->
                    <div class="block full">
                        <!-- Related Title -->
                        <div class="block-title">
                            <h2><i class="fa fa-file-text"></i> Related Articles</h2>
                        </div>
                        <!-- END Related Title -->
                        <!-- Related Content -->
                        <h4 class="sub-header">In Web Design &amp; Development</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/choose">Primo Avvio Vasca</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/pmdd">Choosing the best IDE</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/soutamerica">Biotopo Sud America</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/donotbuy">Pesci da NON comprare</a></li>
                        </ul>
                        <h4 class="sub-header">Varie</h4>
                        <ul class="fa-ul">
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/azoto">Ciclo dell'Azoto</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/cambio">Calcolatore Cambio Acqua</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/termostato">Calcolatore Termostato Acquario</a></li>
                            <li><i class="fa fa-angle-right fa-li"></i> <a href="/lumen">Calcolatore Lumen Lampada Led</a></li>
                        </ul>
                        <!-- END Related Content -->
                    </div>
                    <!-- END Related Block -->
                </div>
            </div>
            <!-- END Article Content -->
        </div>    
        <!-- END Page Content -->

<%- include('../partials/footer'); %>