<!-- Header -->
<%- include('../partials/header'); %>
  <!-- Main -->
  <div class="main">
    <!-- Article -->
    <div class="article">
        <!-- Article Title -->
        <div class="jumbotron jumbotron-fluid title">
            <div class="container">
              <h1 class="display-4">Biotopo Sud Americano</h1>
              <p class="lead">Il biotopo per eccellenza, il più popolare e il più facile da ricreare per chiunque, dai neofiti agli esperti.</p>
            </div>
          </div>
        <!-- end Article Title -->

        <!-- Rio Negro -->
        <p style="text-align: center; padding: 10px;"><b>Rio Negro</b></p>
        <p> Il Rio Negro è un fiume di2.000 km) dell'America meridionale affluente di sinistra del Rio
        delle Amazzoni. Il Rio Negro nasce in Colombia con il nome di Rio Guainia e, entrando in territorio brasiliano, si unisce presso Manaus al
        Rio Solimoes a formare di fatto il Rio delle Amazzoni. Si tratta dell’unione di un fiume ad acque “nere” (Rio Negro) ed uno ad acque
        “bianche” (Rio Solimoes), i due fiumi scorrono senza nescolare le proprie acque per ben 6 km nello spettacolare “incontro delle acque”
        osservabile fuori Manaus.<br> 
        <br><b>Caratteristiche fisiche e chimiche:</b> pH 4.5/5.5; dkH 0/2; dgH 5; T 26. Per il fondo è necessaria sabbia fine chiara, per l'arredamento deve essere formato da legni e foglie sul fondo (catappa, foglie di quercia, di noce). Inoltre si consiglia l’usodi torba nel filtro.
        <br><b>Piante Acquatiche Presenti:</b>Cabomba aquatica,Ceratopteris pteridoides, C. thalictroides,Echinodorus horizontalis, E. tenellus, Eichhornia azurea, E. crassipes, Hydrocleys nymphoides,Hydrocotyle leucocephala, Limnobium laevigatum,Ludwigia helminthorrhiza, Mayaca fluviatilis,Phyllanthus fluitans, Pistia stratiotes, Salvinia auriculata, Utricularia gibba.
        <br><b>Pesci Presenti:</b>Osteoglossum spp., Anostomus taeniatus, Leporinus fasciatus, Paracheirodon axelrodi, Paracheirodon simulans, Hemigrammus bleheri, Hemigrammus schmardae, Hyphessobrycon socolofi, Copella nattereri, Nannobrycon unifasciatus, Nannostomus beckfordi, Nannostomus eques, Nannostomus unifasciatus, Colossoma macropomum, Serrasalmus nattereri, Corydoras robineae, Dianema urostriata, Aequidens diadema, Aequidens pallidus, Apistogramma agassizii, Apistogramma gephyra, Apistogramma gibbiceps, Astronotus ocellatus, Cichla ocellaris, Pterophyllum scalare, Symphysodon discus.
        <br><b>Dimensioni vasca Consigliata:</b>Abbiamo 2 misure: una vasca dai 80x35x40 cm in su' nel caso scegliessimo Ciclidi nani, e una vasca da 120x60x50 cm in caso scegliessimo Ciclidi come Pterophyllum Scalare o Symphosoydon Discuss.
        </p>
        <!-- end Rio Negro -->

        <!-- Igapò Amazzonia -->
        <p style="text-align: center; padding: 10px;"><b>Igapò Amazzonia</b></p>
        <p>Quando le torbide acque fluviali, ricche di sedimenti di origine minerale, oltrepassano i propri argini naturali, si insinuano nella foresta per oltre 100 km, riempiendo i bacini presenti nella piana alluvionale amazzonica. Successivamente a questa iniziale fase di crescita, il loro livello inizia a stabilizzarsi, ed il processo di sedimentazioni sul fondo dei detriti le rende lentamente sempre più limpide, permettendo alla luce di penetrare in profondità. Questo, in aggiunta all'alto livello di nutrienti disciolti, provoca una crescita esplosiva del plancton. E' il momento, per i pesci, di addentrarsi fra gli alberi sommersi, nutrendosi abbondantemente di insetti, frutti caduti in acqua, semi o semplici detriti organici.   
        <br><b>Caratteristiche fisiche e chimiche:</b> pH da 5.5 a 6.5; dH 0 – 5; Per il fondo sabbia fine scura, arredata con radici, necessaria acqua ambrato in modo da darrisalto ai colori dei pesci presenti.    
        <br><b>Piante Acquatiche Presenti:</b>Cabomba aquatica, C. furcata, Ceratopteris pteridoides, C. thalictroides, Echinodorus grisebachii, E. macrophyllus, E. paniculatus, E. subalatus, E. tenellus, Eichhornia azurea, E. crassipes, Heteranthera zosterifolia, Hydrocleys nymphoides, Hydrocotyle leucocephala, Limnobium laevigatum, Ludwigia helminthorrhiza, Phyllanthus fluitans, Pistia stratiotes, Salvinia auriculata, Utricularia gibba. 
        <br><b>Pesci Presenti:</b>Osteoglossum ferreirai, Abramites hypselonotus, Anostomus anostomus, Leporinus fasciatus, Paracheirodon axelrodi, Hemigrammus bleheri, Hyphessobrycon erythrostigma, Nannobrycon unifasciatus, Nannostomus trifasciatus, Colossoma macropomum, Piaractus brachypomus, Serrasalmus nattereri, Serrasalmus rhombeus, Rivulus ornatus, Brochis splendens, Corydoras barbatus, Corydoras elegans, Corydoras schwartzii, Corydoras julii, Dianema urostriata, Megalechis thoracata, Aequidens pallidus, Astronotus ocellatus, Cichla ocellaris, Crenicichla lugubris, Geophagus brasiliensis, Mesonauta festivus, Heros severus, Pterophyllum scalare, Symphysodon aequifasciatus haraldi, Symphysodon discus;
        <br><b>Dimensioni vasca Consigliata:</b>vasche da 80x35x40 cm a 150x60x70<br><b>Filtrazione Consigliata:</b> dai 800 ai 1200.
      </p>
        <!-- end Igapò Amazzonia -->

        <!-- Delta Orinoco -->
        <p style="text-align: center; padding: 10px;"><b>Delta Orinoco</b></p>
        Nella valle del Delta dell'Orinoco si estendono numerosi laghetti tra un ramo e l'altro del fiume. Spesso queste raccolte d'acqua, profonde al massimo pochi metri, si trovano in terreni relativamente secchi e stepposi, con pochi alberi sostituiti da una vegetazione arbustiva,. Le  precipitazioni non sono quelle amazzoniche, i poco più di 1.000 mm annui di pioggia, infatti, rappresentano circa 1/3 dell'acqua che ogni anno cade su Manaus o Belém! Durante i mesi più secchi, il livello dei bacini lacustri cala sensibilmente, senza portare però un significativo peggioramento dei più importanti parametri ambientali. L'acqua calma, la forte insolazione e l'abbondanza di nutrienti favoriscono lo sviluppo di una vegetazione acquatica e palustre davvero rigogliosa.
        <p><br><b>Caratteristiche fisiche e chimiche:</b> pH 6; dGH 6-8; dKH 2-4; T 25-28. Avremo un fondo di sabbia quarzifera o basaltica fine. Per l'arredamento si useranno delle lastre di ardesia e qualche radice legnosa contorta. Inoltre si consiglia l'utilizzo di un impianto co2 con una luce intensa per la corretta gestione delle piante.
        <br><b>Piante Acquatiche Presenti:</b> Cabomba aquatica, C. furcata (nella foto in basso), Mayaca fluviatilis, Eichhornia azurea, E. diversifolia, Ludwigia inclinata, Nymphaea rudgeana, Echinodorus horizontalis, E. tenellus, Sagittaria sp.
        <br><b>Pesci Presenti:</b> Pristella maxillaris, Aphyocharax erythrurus, Polycentrus punctatus, Corydoras aeneus, Megalechis thoracata, Aequidens pulcher, Apistogramma hoignei, Microgeophagus ramirezi, Cichlasoma taenia.
        <br><b>Dimensioni vasca Consigliata:</b> vasca 100x50x50 cm.
        </p>
        <!-- end Delta Orinoco-->

        <!-- Guaporè -->
        <p style="text-align: center; padding: 10px;"><b>Guaporè</b></p>
        <p>Nasce nella catena montuosa della Serra dos Parecis in Mato Grosso, a circa 650 m di altezza: riceve le acque del Rio Verde e costituisce per un lungo tratto il confine tra Bolivia e Brasile, prima di immettersi nel Rio Mamoré. Attraversa regioni dove nei mesi più caldi (inverno-primavera) si registrano infatti temperature dell’aria spesso superiori ai 30°C, mentre in quelli più freddi i valori crollano frequentemente intorno ai 15°C, scendendo talvolta anche sotto i 10°C.
        <br><b>Caratteristiche fisiche e chimiche:</b> T 25-27°C; pH 6; 2-3°dKH; 6-10°dGH e conduttività 100-200 microsiemens.Per il fondo sceglieremo sabbia quarzifera fine chiara su sottofondo di argilla o gravelit. Per l'arredamento andremo a usare rocce non calcaree con una o due radici. E' consigliabile una leggera ambratura dell'acqua. 
        <br><b>Piante Acquatiche Presenti:</b>Echinodorus grandiflorus, Echinodorus tenellus, Echinodorus bolivianus, Limnophila indica, Cabomba furcata, Ottelia brasiliensis, Eichhornia azurea, E. crassipes, E. diversifolia, Egeria najas, Najas conferta, Ludwigia sedoides, Limnobium laevigatus, Salvinia auriculata, Hydrocleys nymphoides, Utricularia breviscapa, U. hydrocarpa.
        <br><b>Pesci Presenti:</b>Astronotus crassipinnis, Apistogramma trifasciata, Apistogramma sp. “Guaporé”,  Mesonauta festivus, Aequidens awani, Microgeophagus altispinosus, Corydoras hastatus, Corydoras guapore, Corydoras sterbai, Megalamphodus megalopterus, Cheirodon kriegi, Gymnocorymbus ternetzi, Hyphessobrycon callistus, Potamotrygon motoro.
        <br><b>Dimensioni vasca Consigliata:</b>  Vasca 120x50x60 con un filtro interno di 30l.
        </p>
        <!-- Guaporè -->

      </div>
      <!-- end Article -->
  </div>
  <!-- end Main -->
      
<!-- Footer -->
<%- include('../partials/footer'); %>  